### **Projects in Programming: Group 8**

**Day Trip Planner**

*Eric Ma, Brendan Tang, Chloe Baatar and Stephen Wu*

Demonstration [link here](https://cdn.discordapp.com/attachments/1102619684542619809/1106249126989021284/daytripplanner.mov)

# **All Necessary Imports and Installations**

In [ ]:
!pip install streamlit_folium
!pip install geopy
!pip install ipython-sql
!pip install sql_magic
!!pip install streamlit-session-state

In [ ]:
# Install the SQLAlchemy library if it is not installed
#!sudo apt-get install python3-dev libmysqlclient-dev > /dev/null
!pip install mysqlclient > /dev/null
!sudo pip3 install -U sql_magic > /dev/null
#!pip install psycopg2-binary > /dev/null
# Google colab upgraded the default SQL Alchemy â€¦ this break pandas read_sql
# We are downgrading SQL Alchemy for now.
!pip install -U 'sqlalchemy<2.0'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy<2.0 in /usr/local/lib/python3.10/dist-packages (1.4.48)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<2.0) (2.0.2)

In [ ]:
!pip install streamlit-extras
!pip install -q streamlit
!pip install -q pyngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: streamlit-extras in /usr/local/lib/python3.10/dist-packages (0.2.7)
Requirement already satisfied: htbuilder==0.6.1 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (0.6.1)
Requirement already satisfied: markdownlit>=0.0.5 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (0.0.7)
Requirement already satisfied: protobuf!=3.20.2 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (3.20.3)
Requirement already satisfied: st-annotated-text>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (4.0.0)
Requirement already satisfied: streamlit>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (1.22.0)
Requirement already satisfied: streamlit-camera-input-live>=0.2.0 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (0.2.0)
Requirement already satisfied: streamlit-card>=0.0.4 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (0.0.4)
Requirement already satisfied: streamlit-embedcode>=0.1.2 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (0.1.2)
Requirement already satisfied: streamlit-faker>=0.0.2 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (0.0.2)
Requirement already satisfied: streamlit-image-coordinates<0.2.0,>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (0.1.3)
Requirement already satisfied: streamlit-keyup>=0.1.9 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (0.2.0)
Requirement already satisfied: streamlit-toggle-switch>=1.0.2 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (1.0.2)
Requirement already satisfied: streamlit-vertical-slider>=1.0.2 in /usr/local/lib/python3.10/dist-packages (from streamlit-extras) (1.0.2)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.10/dist-packages (from htbuilder==0.6.1->streamlit-extras) (9.1.0)
Requirement already satisfied: markdown in /usr/local/lib/python3.10/dist-packages (from markdownlit>=0.0.5->streamlit-extras) (3.4.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from markdownlit>=0.0.5->streamlit-extras) (4.9.2)
Requirement already satisfied: favicon in /usr/local/lib/python3.10/dist-packages (from markdownlit>=0.0.5->streamlit-extras) (0.7.0)
Requirement already satisfied: pymdown-extensions in /usr/local/lib/python3.10/dist-packages (from markdownlit>=0.0.5->streamlit-extras) (9.11)
Requirement already satisfied: altair<5,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (4.2.2)
Requirement already satisfied: blinker>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (1.6.2)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (5.3.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (8.1.3)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (6.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (1.22.4)
Requirement already satisfied: packaging>=14.1 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (23.1)
Requirement already satisfied: pandas<3,>=0.25 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (1.5.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (8.4.0)
Requirement already satisfied: pyarrow>=4.0 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (9.0.0)
Requirement already satisfied: pympler>=0.9 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (1.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (2.8.2)
Requirement already satisfied: requests>=2.4 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (2.27.1)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (13.3.4)
Requirement already satisfied: tenacity<9,>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (8.2.2)
Requirement already satisfied: toml in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (0.10.2)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (4.5.0)
Requirement already satisfied: tzlocal>=1.1 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (4.3)
Requirement already satisfied: validators>=0.2 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (0.20.0)
Requirement already satisfied: gitpython!=3.1.19 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (3.1.31)
Requirement already satisfied: pydeck>=0.1.dev5 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (0.8.1b0)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (6.2)
Requirement already satisfied: watchdog in /usr/local/lib/python3.10/dist-packages (from streamlit>=1.0.0->streamlit-extras) (3.0.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from streamlit-camera-input-live>=0.2.0->streamlit-extras) (3.1.2)
Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (from streamlit-faker>=0.0.2->streamlit-extras) (18.7.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from streamlit-faker>=0.0.2->streamlit-extras) (3.7.1)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (0.4)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.10/dist-packages (from altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (4.3.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (0.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from gitpython!=3.1.19->streamlit>=1.0.0->streamlit-extras) (4.0.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=1.4->streamlit>=1.0.0->streamlit-extras) (3.15.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=0.25->streamlit>=1.0.0->streamlit-extras) (2022.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->streamlit-camera-input-live>=0.2.0->streamlit-extras) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil->streamlit>=1.0.0->streamlit-extras) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.4->streamlit>=1.0.0->streamlit-extras) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.4->streamlit>=1.0.0->streamlit-extras) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.4->streamlit>=1.0.0->streamlit-extras) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.4->streamlit>=1.0.0->streamlit-extras) (3.4)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->streamlit>=1.0.0->streamlit-extras) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich>=10.11.0->streamlit>=1.0.0->streamlit-extras) (2.14.0)
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.10/dist-packages (from tzlocal>=1.1->streamlit>=1.0.0->streamlit-extras) (0.1.0.post0)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from validators>=0.2->streamlit>=1.0.0->streamlit-extras) (4.4.2)
Requirement already satisfied: beautifulsoup4>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from favicon->markdownlit>=0.0.5->streamlit-extras) (4.11.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->streamlit-faker>=0.0.2->streamlit-extras) (3.0.9)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from pymdown-extensions->markdownlit>=0.0.5->streamlit-extras) (6.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.7.0->favicon->markdownlit>=0.0.5->streamlit-extras) (2.4.1)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit>=1.0.0->streamlit-extras) (5.0.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit>=1.0.0->streamlit-extras) (0.19.3)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=10.11.0->streamlit>=1.0.0->streamlit-extras) (0.1.2)
Requirement already satisfied: tzdata in /usr/local/lib/python3.10/dist-packages (from pytz-deprecation-shim->tzlocal>=1.1->streamlit>=1.0.0->streamlit-extras) (2023.3)

In [ ]:
!pip install -q flask-ngrok
!ngrok authtoken 2P2PBDBNGDGaWG0QZGUSPmPwgLk_2rQVnewHw8NJDKMp8c7eV

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [ ]:
!pip install python-geohash

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: python-geohash in /usr/local/lib/python3.10/dist-packages (0.8.5)

In [ ]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import requests
from sqlalchemy import create_engine, Column, Integer, String, inspect, text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import json
import streamlit as st
import hashlib
from pyngrok import ngrok
from cachetools import cached
import folium
from streamlit_folium import folium_static
from geopy.geocoders import Nominatim
import os
import jinja2
from streamlit.components import v1 as components
import geohash
import datetime

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.impute import KNNImputer
from sklearn.metrics.pairwise import linear_kernel

In [ ]:
conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset={encoding}'.format(
    user='group8',
    password='3TopX70hxCY=',
    host='jsedocc7.scrc.nyu.edu',
    port=3306,
    encoding='utf8',
    db='group8'
)
engine = create_engine(conn_string)

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

# **Backend Functionalities**

This will mostly consist of SQL stuff and methods of data collection. The main goal of this section is to give Frontend and Data Analysis the tools to do their jobs!

**Group to String and Parse String:**

If I want to store a list of variables in SQL, then I'll group all of the elements into a single string.

Then I have the functionality to parse it whenever I want.

In [ ]:
def group_to_string(inputList):
    resString = ""
    for i in inputList:
        resString = resString + i + "/" 
    return resString

def parse_string(inputString):
    parsedList = inputString.split("/")
    parsedList.pop()
    return parsedList

## GeoAPIfy API Data Gathering



This function will let anyone gather location data for any category you want. Returns a pandas dataframe.

Supported GeoAPIfy Categories include:
*   accomodation: hotel, hut, apartment, chalet, guest_house, hostel, motel
*   activity: community_center, sport_club
*   commercial: supermarket, marketplace, shopping_mall, department_store, elektronics, outdoor_and_sport (subcategories: water_sports, ski, diving, hunting, bicycle, fishing, golf), vehicle, hobby (subcategories: model, anime, collecting, games, brewing, photo, music, sewing_and_knitting, art), books, gifts_and_souvenir, stationery, newsagent, tickets_and_lottery, clothing (subcategories: shoes, clothes, underwear, sport, men, women, kids, accessories), bag, baby_goods, agrarian, garden, houseware_and_hardware (subcategories: doityourself, hardware_and_tools, building_materials (paint, glaizery, doors, tiles, windows, flooring), fireplace, swimming_pool), florist, furniture_and_interior (lighting, curtain, carpet, kitchen, bed, bathroom), chemist, 
*

In [ ]:
# This function inputs:
# categories (list of supported GeoAPIfy categories)
# longitude of reference area
# latitude of reference area
# radius to search
def gather_attractions(categories, long, lat, radius):
    cat = ""
    for k in categories:
        cat = cat + k + ","
    cat = cat[:-1]
    
    #API Call.
    params = {"categories": cat,
              "filter": "circle:"+ str(long) + "," + str(lat) + "," + str(radius),
              "limit": 100,
              "apiKey": "436cb7412cf4418a9d5773e82c42b9ad"}
    url = "https://api.geoapify.com/v2/places"
    resp = requests.get(url, params)
    data = resp.json()
    
    #Parse into pandas dataframe
    cond = data['features']
    df = pd.DataFrame(columns = ["AttractionID", "AttractionName", "longitude", "latitude", "categories", "category", "subcategory"])
    for i in cond:
        #GeoAPIfy's API requests can be pretty fussy and not return the data in the format that we need.
        #In this case, we just YEET it from consideration altogether.
        try:
            temp = i['properties']
            df = df.append({"AttractionID": temp['place_id'],
                            "AttractionName": temp['name'],
                            "longitude": temp['lon'],
                            "latitude": temp['lat'],
                            "categories": [temp['categories']]},
                            ignore_index = True)
        except:
            pass

    for i in df.index:
        val = df["categories"].iloc[i]
        df["categories"].iloc[i] = group_to_string(val[0])
        df["category"].iloc[i] = val[0][0]
        try:
            df["subcategory"].iloc[i] = val[0][1].split(".")[1]
        except:
            df["subcategory"].iloc[i] = None
        

#    #Write into SQL Database if it doesn't exist
#    for i in df.index:
#        into = [df["AttractionID"].iloc[i], df["AttractionName"].iloc[i], df["longitude"].iloc[i], df["latitude"].iloc[i], df["categories"].iloc[i]]
#        session.execute(text(f'INSERT INTO attractions (InternalID, AttractionName, longitude, latitude, categories) VALUES ("{into[0]}", "{into[1]}", "{into[2]}", "{into[3]}", "{into[4]}")'))
#    session.execute("DELETE a FROM attractions a INNER JOIN attractions b ON a.InternalID = b.InternalID WHERE a.AttractionID > b.AttractionID;")
#    session.commit()
    return df

In [ ]:
def updateAttrDB(att_df):
  for i in att_df.index:
      into = [att_df["AttractionID"].iloc[i], att_df["AttractionName"].iloc[i], att_df["longitude"].iloc[i], att_df["latitude"].iloc[i], att_df["categories"].iloc[i], att_df["category"].iloc[i], att_df["subcategory"].iloc[i]]
      session.execute(text(f'INSERT INTO attractions (InternalID, AttractionName, longitude, latitude, categories, category, subcategory) VALUES ("{into[0]}", "{into[1]}", "{into[2]}", "{into[3]}", "{into[4]}", "{into[5]}", "{into[6]}") ON DUPLICATE KEY UPDATE InternalID=InternalID'))
  session.commit()

## Googles Maps API

I use the google maps distance matrix API to get a distance between two locations.

In [ ]:
#Returns the time to get between two pairs of locations
#Input: A dataframe with two rows
#Output: The time (in seconds)
def get_distance_between(df_pair):
    urlGoogleMaps = "https://maps.googleapis.com/maps/api/distancematrix/json"
    lat = df_pair["latitude"].tolist()
    longi = df_pair["longitude"].tolist()

    origin = str(lat[0]) + "," + str(longi[0])
    dest = str(lat[1]) + "," + str(longi[1])

    para = {"origins": origin,
            "destinations": dest,
            "key": "AIzaSyAZBPkRTAHbVy_v7iibQxoAEtyCeo1WBKM"}
    resp = requests.get(urlGoogleMaps, params = para)
    data = resp.json()
    return data["rows"][0]["elements"][0]["duration"]["value"]

In [ ]:
# Google Maps Geocoding API
def google_geocode(address):
    urlGeocode = "https://maps.googleapis.com/maps/api/geocode/json"

    addresses = address.split(" ")
    finalAdd = []
    for i in addresses:
        finalAdd.append(i)
        finalAdd.append("%20")
    finalAdd.pop()
    addr = ""
    for i in finalAdd:
        addr = addr + i
    
    params = {"address": addr,
              "key": "AIzaSyAZBPkRTAHbVy_v7iibQxoAEtyCeo1WBKM"}
    resp = requests.get(urlGeocode, params = params)
    data = resp.json()
    latLong = [data["results"][0]["geometry"]["location"]["lat"], data["results"][0]["geometry"]["location"]["lng"]]
    return latLong

## Yelp Data Gathering

In [ ]:
key = '_KQihmhYV4kI7pu9AYpdp_ROXJDaGYuBe6-MkNiXw7UvE9hK_YfixWdiX1PMKRTLdASXR8IGlAndDTIDjuTzAqa__E8CDpo9Zue0b9izh2arYn-crC6ZWg2NlHgaZHYx'
auth_header = {'Authorization': 'Bearer ' + key}

url = 'https://api.yelp.com/v3/businesses/search'

Convert's Yelp's price tags into actual price ranges.

In [ ]:
def convert_price(price_string):
    if price_string == '$':
        return 10
    elif price_string == '$$':
        return 20
    elif price_string == '$$$':
        return 45
    elif price_string == '$$$$':
        return 100
    else:
        return None

In [ ]:
def request_restaurant(lat, lon, radius):
  parameters = {
      "latitude": lat,
      "longitude": lon,
      "radius": int(radius*1609.34),
      "sort_by": "review_count",
      "limit" : 50
  }

  # Issue the authenticated request
  resp = requests.get(url, headers=auth_header, params=parameters)
  data = resp.json()
  restaurants_df = pd.json_normalize(data['businesses'])
  restaurants_df = restaurants_df[['name', 'review_count', 'rating', 'price', 'display_phone', 'distance', 'coordinates.latitude', 'coordinates.longitude', 'location.address1']]
  
  # table cleaning stuff 
  rename_dict = {'coordinates.latitude':'latitude', 'coordinates.longitude':'longitude'}
  restaurants_df = restaurants_df.rename(columns=rename_dict)
  restaurants_df.drop('distance', axis=1, inplace = True)
  restaurants_df['price_estimate'] = restaurants_df['price'].apply(convert_price)

  return restaurants_df

In [ ]:
def check_duplicate_restaurants(restaurants_df):
  query = text("""SELECT name, latitude, longitude FROM restaurants""")
  result = engine.execute(query)
  existing_values = [(row[0], row[1], row[2]) for row in result]
  df_filtered = restaurants_df[~restaurants_df.set_index(['name', 'latitude', 'longitude']).index.isin(existing_values)]
  return df_filtered

## Ticketmaster Data Gathering

In [ ]:
def get_events(latitude, longitude, transport):
    # Set up the Ticketmaster API endpoint and API key
    url = 'https://app.ticketmaster.com/discovery/v2/events.json'
    api_key = '1OULWoAZ3U9AFol0MFy4gEJ8ak65nkF7'

    # Set up the search parameters
    geohashing = geohash.encode(latitude, longitude, precision=6)
    size = 200  # Number of results to return
    page = 0   # Page number of the search results
    current_time = datetime.datetime.utcnow().strftime('%Y-%m-%dT%H:%M:%SZ')
    start_date = datetime.datetime.now()
    end_date = start_date + datetime.timedelta(weeks=5)
    
    if transport.lower() == 'walking':
      radius = 2
    elif transport.lower() == 'transit' or transport.lower() == 'driving':
      radius = 10
    else:
      radius = 4
    unit = 'miles'

    # Construct the query string
    params = {
        'apikey': api_key,
        'geoPoint': geohashing,
        'radius': radius,
        'unit': unit,
        'startDateTime': start_date.strftime('%Y-%m-%dT%H:%M:%SZ'),
        'endDateTime': end_date.strftime('%Y-%m-%dT%H:%M:%SZ'),
        'size': size,
        'page': page,
        'sort': 'date,asc',  # Sort by date in ascending order
        'onsaleStartDateTime': current_time  # Only include events that are currently on sale
    }

    # Send the GET request to the Ticketmaster API endpoint
    response = requests.get(url, params=params)

    if response.status_code == 200:
      
        # Parse the JSON data from the response
        data = response.json()

        # Extract the total number of pages
        max_page = data['page']['totalPages']

        # Create a list to hold the data for each event
        events_list = []
        
        # Iterate through all pages and fetch the events from each page
        for page in range(max_page):
            params['page'] = page
            response = requests.get(url, params=params)
            data = response.json()
            
            if '_embedded' in data and 'events' in data['_embedded']:

                # Extract the relevant data for each event and append it to the list
                for event in data['_embedded']['events']:
                    event_data = {
                        'id': event['id'],
                        'name': event['name'],
                        'venue': event['_embedded']['venues'][0]['name'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 else None,
                        'segment': event['classifications'][0]['segment']['name'] if 'classifications' in event and 'segment' in event['classifications'][0] and len(event['classifications'][0]['segment']) > 0 else None,
                        'genre': event['classifications'][0]['genre']['name'] if 'classifications' in event and 'genre' in event['classifications'][0] and len(event['classifications'][0]['genre']) > 0 else None,
                        'subgenre': event['classifications'][0]['subGenre']['name'] if 'classifications' in event and 'subGenre' in event['classifications'][0] and len(event['classifications'][0]['subGenre']) > 0 else None,
                        'address': event['_embedded']['venues'][0]['address']['line1'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'address' in event['_embedded']['venues'][0] and 'line1' in event['_embedded']['venues'][0]['address'] else None,
                        'city': event['_embedded']['venues'][0]['city']['name'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'city' in event['_embedded']['venues'][0] else None,
                        'zip': event['_embedded']['venues'][0]['postalCode'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'postalCode' in event['_embedded']['venues'][0] else None,
                        'latitude': event['_embedded']['venues'][0]['location']['latitude'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'location' in event['_embedded']['venues'][0] else None,
                        'longitude': event['_embedded']['venues'][0]['location']['longitude'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'location' in event['_embedded']['venues'][0] else None,
                        'date': event['dates']['start']['localDate'],
                        'time': event['dates']['start']['localTime'] if 'localTime' in event['dates']['start'] else None,
                        'price_min': event['priceRanges'][0]['min'] if 'priceRanges' in event and len(event['priceRanges']) > 0 and 'min' in event['priceRanges'][0] else None,
                        'price_max': event['priceRanges'][0]['max'] if 'priceRanges' in event and len(event['priceRanges']) > 0 and 'max' in event['priceRanges'][0] else None,
                        'status': event['dates']['status']['code'] if 'status' in event['dates'] else None,
                        'ticket_limit': event['ticketLimit']['info'] if 'ticketLimit' in event and 'info' in event['ticketLimit'] else None,
                        'age_restrictions': event['ageRestrictions']['legalAgeEnforced'] if 'ageRestrictions' in event and 'legalAgeEnforced' in event['ageRestrictions'] else None,
                        'links': event['url']
                    }
                    #Append the list of events with extracted data
                    events_list.append(event_data)
            else:
              print("No events found in the response data for this page")
        # Create a DataFrame from the list of event data
        events_df = pd.DataFrame(events_list)
    else:
        print(f"Error: {response.status_code} - {response.reason}")
    return events_df

In [ ]:
# fill missing values of genre with subgenre; if subgenre is missing, use segment
def fill_genre(row):
    if pd.isnull(row['genre']) or row['genre'] == "":
        if pd.isnull(row['subgenre']):
            return row['segment']
        else:
            return row['subgenre']
    else:
        return row['genre']

# Categorize price_min and price_max columns into 4 types: low, mid, high, luxury
def categorize_price(price_min, price_max):
    if price_min < 25 and price_max < 50:
        return 'low'
    elif price_min < 50 and price_max < 100:
        return 'mid'
    elif price_min < 100 and price_max < 200:
        return 'high'
    else:
        return 'luxury'

# Oh god please help us.
def process_events(events_df):
    
    # Drop rows with missing values in the 'name' or 'date' columns
    events_df.dropna(subset=['name', 'date'], inplace=True)

    # Create 'datetime' column and drop the original 'date' and 'time' columns
    events_df['date'] = pd.to_datetime(events_df['date'] + ' ' + events_df['time'], format='%Y-%m-%d %H:%M:%S')
    events_df.drop('time', axis=1, inplace=True)
    events_df.rename(columns={'date': 'datetime'}, inplace=True)

    # Convert the price min, price max, latitude, longitude columns to numeric data types
    events_df[['price_min', 'price_max', 'latitude', 'longitude']] = events_df[['price_min', 'price_max', 'latitude', 'longitude']].apply(pd.to_numeric, errors='coerce')

    # Create a boolean mask for rows where genre is "Miscellaneous" or "Undefined"
    mask = events_df['genre'].isin(['Miscellaneous', 'Undefined'])

    # Replace genre values with segment values for rows that meet the mask criteria
    events_df.loc[mask, 'genre'] = events_df.loc[mask, 'segment']
    events_df['genre'] = events_df.apply(fill_genre, axis=1)
    events_df['genre'].fillna('', inplace=True)

    # Price adjustment
    price_df = events_df[['price_min', 'price_max']]
    imputer = KNNImputer(n_neighbors=2)

    # KNN imputation on the price df
    imputed_price_df = pd.DataFrame(imputer.fit_transform(price_df), columns=price_df.columns)

    # Replace the original price_min and price_max columns in the events DataFrame with the imputed values
    events_df['price_min'] = imputed_price_df['price_min']
    events_df['price_max'] = imputed_price_df['price_max']

    events_df['price_range'] = events_df.apply(lambda row: categorize_price(row['price_min'], row['price_max']), axis=1)
    return events_df

In [ ]:
def updateEventDB(rec_df):
  for i in rec_df.index:
      into = [rec_df["id"].iloc[i], rec_df["name"].iloc[i], rec_df["venue"].iloc[i], rec_df["address"].iloc[i], rec_df["latitude"].iloc[i], rec_df["longitude"].iloc[i], rec_df["datetime"].iloc[i], rec_df["status"].iloc[i], rec_df["price_range"].iloc[i], rec_df["links"].iloc[i], rec_df["features"].iloc[i]]
      session.execute(text(f'INSERT INTO events (id, name, venue, address, latitude, longitude, datetime, status, price_range, links, features) VALUES ("{into[0]}", "{into[1]}", "{into[2]}", "{into[3]}", "{into[4]}", "{into[5]}", "{into[6]}", "{into[7]}", "{into[8]}", "{into[9]}", "{into[10]}") ON DUPLICATE KEY UPDATE id=id'))
  session.commit()

## Webscraping City Longs/Lats + Gathering Points of Interests from Each City

This won't be too relevant to our final product, but we included this part to show some of the proceeses we went through to gather data!

In [ ]:
#Webscraping longs and lats for all US cities.
from bs4 import BeautifulSoup

def scrape_and_never_use():
    headers = {
        'User-Agent': 'Eric Ma Bot for School Projects',
        'From': 'em4383@stern.nyu.edu'
    }
    dictList = []
    for pageNum in range(1,13):
        latlongURL = f"https://www.latlong.net/category/cities-236-15-{pageNum}.html"
        resp = requests.get(latlongURL, headers=headers)
        soup = BeautifulSoup(resp.text, 'html.parser')

        for td_info in soup.find_all('tr'):
            infoVal = []
            for i in td_info.find_all('td'):
                infoVal.append(i.text)
            infoDict = {}
            try:
                infoDict["CityName"] = infoVal[0]
                infoDict["Longitude"] = infoVal[2]
                infoDict["Latitude"] = infoVal[1]
                dictList.append(infoDict)
            except:
                pass
    dictList

In [ ]:
def neverUseEver(dictList):
    dfLocs = pd.DataFrame(columns = ["CityName", "Longitude", "Latitude"])
    for i in dictList:
        dfLocs = dfLocs.append({"CityName": i["CityName"],
                            "Longitude": i["Longitude"],
                            "Latitude": i["Latitude"]}, ignore_index = True)

In [ ]:
def neverEver(newdfLocs):
    for i in newdfLocs.index:
        longi = newdfLocs["Longitude"].iloc[i]
        lati = newdfLocs["Latitude"].iloc[i]
        data = gather_attractions(["activity","commercial","entertainment", "leisure", "man_made","natural","tourism","adult","sport"],longi,lati,5000)

## SQL Playground

Gotta check in on our SQL databases somehow!

In [ ]:
%reload_ext sql_magic
%config SQL.conn_name = 'engine'

In [ ]:
%%read_sql
show tables;

Query started at 11:59:48 AM UTC

KeyboardInterrupt: ignored

In [ ]:
%%read_sql
select * from schedule;

Query started at 10:14:46 AM UTC; Query executed in 0.00 m

   ScheduleID      ScheduleName ScheduleUser
0          13  Example Schedule            1
1          14           Morbius            1
2          15  Checking Wecking            3

In [ ]:
%%read_sql
select * from restaurants;

Query started at 10:34:05 AM UTC; Query executed in 0.00 m

,id,name,review_count,categories,rating,price,latitude,longitude,address
0,_g9P_uVoomq0MDa5z3PrIg,Times Square,1580,Landmarks & Historical Buildings,4.0,nan,41.0,-74.0,1 Times Sq
1,-p7dvuKa91_4B-aiFIFB8Q,Ten Degrees Bar,843,"Gastropubs, Venues & Event Spaces",4.0,$$,41.0,-74.0,121 St Marks Pl
2,-qMrl4pSdhyvaUEw_sgbng,The Battery,355,Parks,5.0,nan,41.0,-74.0,State St & Battery Pl
3,0-hM-ARw7sLpkyyow_qf6w,Artichoke Basille's Pizza,1692,"Bars, Italian, Pizza",4.0,$$,41.0,-74.0,114 10th Ave
4,0-LZIrFbNTDmtjNpa_afiQ,Chelsea Square Restaurant,279,"Diners, Breakfast & Brunch, Sandwiches",4.0,$$,41.0,-74.0,368 W 23rd St
...,...,...,...,...,...,...,...,...,...
142,Ys9iYSjuFDpZj7B1X07v5g,Liberty Bagels Midtown,1280,"Breakfast & Brunch, Bagels, Sandwiches",5.0,$,41.0,-74.0,260 W 35th St
143,YxCLC_Jv5svNgfJdwu9rJg,Cafe De Novo,105,"Korean, Pizza, Breakfast & Brunch",3.0,$$,41.0,-74.0,94 1/2 Greenwich St
144,Z_jHSj127fqMDpsKe3NLjg,The Donut Pub,227,"Donuts, Coffee & Tea, Breakfast & Brunch",4.0,$,41.0,-74.0,740 Broadway
145,zcPWqsiqaPpNh8nJXR4gpw,The Commodore,635,"Bars, American (Traditional), Sandwiches",4.0,$$,41.0,-74.0,366 Metropolitan Ave
146,zLNOCv3hmzPNO8pchYdBpw,Joe Jr.,437,"Diners, Breakfast & Brunch, American (Traditio...",4.0,$$,41.0,-74.0,167 3rd Ave

In [ ]:
%%read_sql
select * from users

Query started at 07:04:58 AM UTC; Query executed in 0.00 m

,id,username,email,password
0,1,Chloe,w@t.v,edee29f882543b956620b26d0ee0e7e950399b1c4222f5...
1,2,peachfuzzz,sww9030@stern.nyu.edu,0e3ffd6b3051ec6f8e68886bccd72f1b544c61e20748da...
2,3,ericma,em4383@stern.nyu.edu,d9aae9f990f623eb427f41b0f74c4f90ab2e86dd88f213...
3,4,testingwesting,fakeemail@fakeplace.com,d98a2568bc6ad94b9cce28ad8ab6a8e038a3b65b95b521...
4,5,testing1234,testing@testing.com,cf80cd8aed482d5d1527d7dc72fceff84e632659284844...
5,6,a,a,ca978112ca1bbdcafac231b39a23dc4da786eff8147c4e...

In [ ]:
%%read_sql
select * from schedule;

Query started at 07:04:58 AM UTC; Query executed in 0.00 m

   ScheduleID      ScheduleName ScheduleUser
0          13  Example Schedule            1
1          14           Morbius            1
2          15  Checking Wecking            3

In [ ]:
%%read_sql
select * from events;

Query started at 08:19:36 AM UTC; Query executed in 0.01 m

,id,name,venue,address,latitude,longitude,datetime,status,EventID,price_range,links,features
0,rZ7HnEZ1AKAMoz,Job Creators: Single Release Party!,Berlin,25 Avenue A,40.722974,-73.986080,2023-06-08 23:00:00,onsale,1,low,https://www.ticketweb.com/event/job-creators-s...,low Music Jazz
1,rZ7HnEZ1AK7wjP,"Chris Duarte, Debra Devi",The Bowery Electric,327 Bowery,40.725700,-73.991673,2023-06-03 18:30:00,onsale,2,low,https://www.ticketweb.com/event/chris-duarte-d...,low Music Jazz
2,rZ7HnEZ1AKe9_A,The Living Room - Nomadic Presents: Sasha Dobs...,Berlin,25 Avenue A,40.722974,-73.986080,2023-05-17 19:30:00,onsale,3,low,https://www.ticketweb.com/event/the-living-roo...,low Music Jazz
3,rZ7HnEZ1A3bduP,Derrick Hodge & Color Of Noize,Blue Note Jazz Club,131 W. 3rd St,40.730940,-74.000650,2023-05-11 20:00:00,onsale,4,mid,https://www.ticketweb.com/event/derrick-hodge-...,mid Music Jazz
4,rZ7HnEZ1A3PbOA,Harlem Blues Project,Blue Note Jazz Club,131 W. 3rd St,40.730940,-74.000650,2023-06-04 14:30:00,onsale,5,mid,https://www.ticketweb.com/event/harlem-blues-p...,mid Music Jazz

In [ ]:
%%read_sql
select * from attractions;

Query started at 09:15:14 AM UTC; Query executed in 0.01 m

,AttractionID,InternalID,AttractionName,longitude,latitude,categories,category,subcategory
0,1,519f8707fd558052c0595ecd9b10bd5f4440f00101f901...,The High Line,-74.0049,40.7477,leisure/leisure.park/man_made/man_made.bridge/...,leisure,park
1,2,518d2cc7123b7f52c059cb134fae005f4440f00102f901...,Madison Square Park,-73.9880,40.7422,leisure/leisure.park/,leisure,park
2,3,51ab282d7b4f7d52c0597d22f3df8b5f4440f00102f901...,Gantry Plaza State Park,-73.9580,40.7463,leisure/leisure.park/wheelchair/wheelchair.yes/,leisure,park
3,4,51a775d830937d52c059826672e35b5c4440f00102f901...,Marsha P. Johnson State Park,-73.9622,40.7218,leisure/leisure.park/wheelchair/wheelchair.yes/,leisure,park
4,5,513c51a8d12d8052c059bc2cefef7d5b4440f00101f901...,Thomas Paine Park,-74.0028,40.7148,leisure/leisure.park/,leisure,park
...,...,...,...,...,...,...,...,...
6945,8092,518acd99ce207f52c05991ee550ab3594440f00102f901...,Maritcha R. Lyons Park,-73.9864,40.7008,leisure/leisure.park/,leisure,park
6946,8093,5121ec16506f7e52c0591b6ed91383584440f00102f901...,Fort Greene Park,-73.9756,40.6915,leisure/leisure.park/,leisure,park
6947,8094,511374f3e0657f52c0596073fad35c594440f00102f901...,Cadman Plaza Park,-73.9906,40.6977,leisure/leisure.park/,leisure,park
6948,8095,51a3b1b8c6877f52c059773508af1a5c4440f00101f901...,Sara D. Roosevelt Park,-73.9931,40.7186,leisure/leisure.park/,leisure,park
6949,8096,51bc3a90e8627f52c05929f1d218305e4440f00101f901...,Union Square Park,-73.9903,40.7360,leisure/leisure.park/,leisure,park

# **Data Analysis**

## Visualization: Waypoint Maps

This bit should be the code to support Google Maps integration with the chosen waypoints. Just for visualization.

This is just me playing around with Google Maps. This is no way indicative of any final product (which I can easily integrate into Streamlit)

In [ ]:
mapsURL = "https://maps.googleapis.com/maps/api/staticmap"

params = {"size": "500x400",
          "markers": "color:blue|40.7291,-73.9963|40.7440,-73.9873",
          "maptype": "roadmap",
          "key":"AIzaSyAZBPkRTAHbVy_v7iibQxoAEtyCeo1WBKM"}
resp = requests.get(mapsURL, params = params)

In [ ]:
from IPython.core.display import display, HTML
import base64

image_data = resp.content
encoded_image = base64.b64encode(image_data).decode()

htm = f'<img src="data:image/png;base64,{encoded_image}"/>'

display(HTML(htm))

In [ ]:
embedURL = "https://www.google.com/maps/embed/v1/directions"

params = {"origin": "40.7291,-73.9963",
          "destination": "40.7291,-73.9963",
          "waypoints": "40.733521,-73.988327|40.7440,-73.9873|40.7580,-73.9855",
          "mode": "walking",
          "maptype": "roadmap",
          "key":"AIzaSyAZBPkRTAHbVy_v7iibQxoAEtyCeo1WBKM"}

resp = requests.get(embedURL, params = params)

In [ ]:
from IPython.core.display import display, HTML

htm = f'<iframe width="500" height="400" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade" src="{resp.url}" allowfullscreen></iframe>'

display(HTML(htm))

/usr/local/lib/python3.10/dist-packages/IPython/core/display.py:724: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

In [ ]:
# Input: Pandas Dataframe of destinations (should be in the schedule order!)
# Output: Set of dictionaries to use in the map display section of Streamlit!
def route_map(df_destinations, mode):
    destNames = []
    destinations = []
    for i in df_destinations.index:
        name = df_destinations["Name"].iloc(i)
        lati = df_destinations["Latitude"].iloc(i)        
        longi = df_destinations["Longitude"].iloc(i)
        combination = str(lati) + "," + str(longi)
        destNames.append(name)
        destinations.append(combination)
    
    destDict = {}
    for i in range(len(destNames)):
        destDict[destNames[i]] = destinations[i]
    
    return destDict

## Restaurant Recommendation: KNN Means

This is a restaurant recommendation algorithm. It should recommend restaurants based on user input/preferences.

In [ ]:
def updateRestaurantsDB(rest):
  for i in rest.index:
      into = [rest["id"].iloc[i], rest["name"].iloc[i], rest["review_count"].iloc[i], rest["categories"].iloc[i], rest["rating"].iloc[i], rest["price"].iloc[i], rest["coordinates.latitude"].iloc[i], rest["coordinates.longitude"].iloc[i], rest["location.display_address"].iloc[i]]
      session.execute(text(f'INSERT INTO restaurants (id, name, review_count, categories, rating, price, latitude, longitude, address) VALUES ("{into[0]}", "{into[1]}", "{into[2]}", "{into[3]}", "{into[4]}", "{into[5]}", "{into[6]}", "{into[7]}", "{into[8]}") ON DUPLICATE KEY UPDATE id=id'))
  session.commit()

0

# input latitude decimal
# input longitude decimal
# input categories list of string ['Japanese', 'Ramen', '$$']
def getRestaurantRecs(latitude, longitude, categories):
  # https://docs.developer.yelp.com/reference/v3_business_search

  key = '_KQihmhYV4kI7pu9AYpdp_ROXJDaGYuBe6-MkNiXw7UvE9hK_YfixWdiX1PMKRTLdASXR8IGlAndDTIDjuTzAqa__E8CDpo9Zue0b9izh2arYn-crC6ZWg2NlHgaZHYx'
  auth_header = {'Authorization': 'Bearer ' + key}

  url = 'https://api.yelp.com/v3/businesses/search'

  # We search for restaurants within 1 miles of Location
  parameters = {
      "latitude": latitude,
      "longitude": longitude,
      "location": "44 West 4th Street, New York, NY 10012",
      "radius": int(2 * 1609.34),
      "sort_by": "review_count",
      "limit": 50,
      "open_now" : True
  }

  # Issue the authenticated request
  resp = requests.get(url, headers=auth_header, params=parameters)
  data = resp.json()
  restaurants_df = pd.json_normalize(data['businesses'])

  # Clean Data
  restaurants_df = restaurants_df[['id', 'name', 'review_count', 'categories', 'rating', 'price', 'distance', 'coordinates.latitude', 'coordinates.longitude', 'location.display_address']]
  restaurants_df['categories'] = restaurants_df['categories'].apply(lambda lst: ', '.join(x['title'] for x in lst))
  restaurants_df['location.display_address'] = restaurants_df['location.display_address'].apply(lambda lst: lst[0])
  restaurants_df.dropna(inplace = True)
  restaurants_df.reset_index(drop = True, inplace = True)
  updateRestaurantsDB(restaurants_df)

  df_categories_dummies = pd.Series(restaurants_df['categories']).str.get_dummies(', ')
  df_prices_dummies = pd.Series(restaurants_df['price']).str.get_dummies()
  df_final = pd.concat([df_categories_dummies, df_prices_dummies, restaurants_df], axis=1)
  mapper = {1.0:1,1.5:2, 2.0:3, 2.5:4, 3.0:5, 3.5:6, 4.0:7, 4.5:8, 5.0:9}
  df_final['rating'] = df_final['rating'].map(mapper)

  # Testing/Diagnostics
  X = df_final.iloc[:,:-10]
  y = df_final['rating']

  X_train_knn, X_test_knn, y_train_knn, y_test_knn = train_test_split(X, y, test_size=0.2, random_state=1)


  knn = KNeighborsClassifier(n_neighbors=20)
  knn.fit(X_train_knn, y_train_knn)

  accuracy_train = knn.score(X_train_knn, y_train_knn)
  accuracy_test = knn.score(X_test_knn, y_test_knn)

  print(f"Score on training set: {accuracy_train}")
  print(f"Score on test set: {accuracy_test}")

  # Get Recs
  user = df_final.iloc[-1:,:-10]
  user.loc[0:] = 0

  for cat in categories:
    if cat in user.columns:
      user[cat] = 1

  test_set = user

  # validation set from the df_final table (exclude the last row)
  X_val = df_final.iloc[:,:-10]
  y_val = df_final['rating']

  # fit model with validation set
  n_knn = knn.fit(X_val, y_val)

  # create table distances and indeces
  final_table = pd.DataFrame(n_knn.kneighbors(test_set)[0][0], columns = ['knn_distance'])
  final_table['index'] = n_knn.kneighbors(test_set)[1][0]
  final_table.set_index('index')

  # get names of the restaurant that similar to the "Steak & Cheese & Quick Pita Restaurant"
  result = final_table.join(df_final,on='index')
  return result[['knn_distance','index','name','review_count', 'categories', 'rating', 'price', 'distance', 'coordinates.latitude', 'coordinates.longitude', 'location.display_address']].head(10)

## Event Recommendation: Cosine Similarity

Cosine similarity for and events. uses tfidf vectorizers. categorical variables are a pain to work with :)

In [ ]:
"""# User preferences
    user_prefs = {
        'price_range': price_range,  # default preference
        'segment': user_segments,  # default to most frequent
        'genre': user_genres  # default to most frequent
    }"""
def get_event_recommendations(events_df, user_prefs):
    # Concatenate the features into a single string
    events_df['features'] = events_df['price_range'] + ' ' + events_df['segment'] + ' ' + events_df['genre']

    # Concatenate user preferences into a single string
    user_prefs_str = user_prefs['price_range'] + ' ' + user_prefs['segment'] + ' ' + user_prefs['genre']

    # Append user preferences to the features column
    events_df = events_df.append({'features': user_prefs_str}, ignore_index=True)

    # Create a TF-IDF matrix of the features
    tfidf = TfidfVectorizer().fit_transform(events_df['features'])

    # Compute cosine similarity between user preferences and all items in the DataFrame
    cosine_sim = linear_kernel(tfidf[-1], tfidf).flatten()

    # Get top 5 recommendations (excluding the last item which is the user's preferences)
    recommendation_indices = cosine_sim.argsort()[:-7:-1]

    recommendations = events_df.iloc[recommendation_indices]

    # Exclude the user's preference row from the output
    recommendations = recommendations[recommendations['name'].notna()]
    return recommendations[['id', 'name', 'venue', 'address', 'latitude', 'longitude', 'datetime', 'status', 'features', 'links', 'price_range']]

In [ ]:
def dontrunthis():
    events_df = get_events(40.729675, -73.996925, "walking")
    events_df = process_events(events_df)

    userdata = {"price_range": "low",
                "segment": "Music",
                "genre": "Jazz"}
    rec_df = get_event_recommendations(events_df, userdata)

## Attraction Recommendation: Cosine Similarity 2 Electric Boogaloo

Surprise we're doing cosine similarity again.

In [ ]:
#Splitting into subcategories because we can.
def extract_subcategory(subcategories):
    if '/' in subcategories:
        return subcategories.split('/')[1]
    else:
        return subcategories

In [ ]:
def get_attraction_recommendations(attractions_df):
    from sklearn.feature_extraction.text import TfidfVectorizer
    from sklearn.metrics.pairwise import linear_kernel
    attractions_df['features'] = attractions_df['category'] + ' ' + attractions_df['subcategory']

    # User preferences
    user_prefs = {
        'category': attractions_df['category'].mode()[0],  # default to most frequent
        'subcategory': attractions_df['subcategory'].mode()[0]  # default to most frequent
    }

    # Concatenate user preferences into a single string
    user_prefs_str = user_prefs['category'] + ' ' + user_prefs['subcategory']
    
    # Append user preferences to the features column
    attractions_df = attractions_df.append({'features': user_prefs_str}, ignore_index=True)

    # Create a TF-IDF matrix of the features
    tfidf = TfidfVectorizer().fit_transform(attractions_df['features'])

    # Compute cosine similarity between user preferences and all items in the DataFrame
    cosine_sim = linear_kernel(tfidf[-1], tfidf).flatten()

    # Get top 5 recommendations (excluding the last item which is the user's preferences)
    recommendation_indices = cosine_sim.argsort()[:-7:-1]

    recommendations = attractions_df.iloc[recommendation_indices]

    # Exclude the user's preference row from the output
    recommendations = recommendations[recommendations['AttractionName'].notna()]
    return recommendations

In [ ]:
def noRunny():
    attractions_df = gather_attractions(["leisure","natural","tourism","adult"],-73.996925,40.729675,5000)
    attractions_df.dropna(inplace = True)
    att_df = get_attraction_recommendations(attractions_df)
    att_df.reset_index(inplace = True)
    updateAttrDB(att_df)

## Actual Schedule Builder

Yay we've got all the ML and tools to make a schedule. Well, time to actually make one! ðŸ˜ƒ

In [ ]:
rest_df = getRestaurantRecs(40.729675, -73.996925, ["Desserts", "Chinese"])

Score on training set: 0.5833333333333334
Score on test set: 0.6666666666666666

In [ ]:
attractions_df = gather_attractions(["tourism"],-73.996925,40.729675,5000)
attractions_df.dropna(inplace = True)
att_df = get_attraction_recommendations(attractions_df)
att_df.reset_index(inplace = True)
updateAttrDB(att_df)

In [ ]:
events_df = get_events(40.729675, -73.996925, "walking")
events_df = process_events(events_df)
userdata = {"price_range": "low",
            "segment": "Music",
            "genre": "Jazz"}
event_df = get_event_recommendations(events_df, userdata)
event_df.reset_index(inplace = True)
updateEventDB(event_df)

In [ ]:
rest_df

,knn_distance,index,name,review_count,categories,rating,price,distance,coordinates.latitude,coordinates.longitude,location.display_address
0,1.732051,35,Big Wong,1558,"Chinese, Seafood",6,$$,1494.653083,40.716272,-73.998278,67 Mott St
1,1.732051,4,Dominique Ansel Bakery,5336,"Bakeries, Desserts",7,$$,714.922402,40.725160,-74.002960,189 Spring St
2,2.000000,28,Dough,1665,"Desserts, Donuts, Bakeries",7,$$,1139.701237,40.739310,-73.992430,14 W 19th St
3,2.000000,19,Sugar Sweet Sunshine Bakery,2130,"Bakeries, Desserts, Cupcakes",7,$,1375.230197,40.719851,-73.987011,126 Rivington St
4,2.000000,40,Tompkins Square Bagels - Avenue A,1447,Bagels,7,$$,1243.571462,40.728230,-73.982300,165 Avenue A
5,2.000000,33,Carlo's Bakery,1595,"Bakeries, Desserts, Patisserie/Cake Shop",5,$$$,3012.361145,40.737204,-74.031268,95 Washington St
6,2.000000,15,Veniero's,2354,"Bakeries, Desserts, Italian",7,$$,1043.867956,40.729431,-73.984541,342 E 11th St
7,2.236068,8,Balthazar,3558,"French, Breakfast & Brunch",7,$$$,784.342573,40.722689,-73.998215,80 Spring St
8,2.236068,39,Great NY Noodle Town,1458,"Cantonese, Noodles",6,$,1627.865482,40.715000,-73.997060,28 Bowery
9,2.236068,41,Stumptown Coffee Roasters,1441,"Coffee & Tea, Coffee Roasteries",8,$$,1927.619986,40.745666,-73.988092,20 W 29th St

In [ ]:
%%read_sql
select * from recommendations

Query started at 01:28:55 PM UTC; Query executed in 0.00 m

,RecID,ScheduleID,UserID,RecName,RecAddress,longitude,latitude,RecType
0,1,15,3,Big Wong,67 Mott St,-73.9983,40.7163,Restaurant
1,2,15,3,Dominique Ansel Bakery,189 Spring St,-74.0030,40.7252,Restaurant
2,3,15,3,Dough,14 W 19th St,-73.9924,40.7393,Restaurant
3,4,15,3,Sugar Sweet Sunshine Bakery,126 Rivington St,-73.9870,40.7199,Restaurant
4,5,15,3,Tompkins Square Bagels - Avenue A,165 Avenue A,-73.9823,40.7282,Restaurant
5,6,15,3,Carlo's Bakery,95 Washington St,-74.0313,40.7372,Restaurant
6,7,15,3,Veniero's,342 E 11th St,-73.9845,40.7294,Restaurant
7,8,15,3,Balthazar,80 Spring St,-73.9982,40.7227,Restaurant
8,9,15,3,Great NY Noodle Town,28 Bowery,-73.9971,40.7150,Restaurant
9,10,15,3,Stumptown Coffee Roasters,20 W 29th St,-73.9881,40.7457,Restaurant
10,11,15,3,Roscoe Conkling,None,-73.9882,40.7412,Attraction
11,12,15,3,Double Check,None,-74.0106,40.7093,Attraction
12,13,15,3,"5 in 1, 1973-74",None,-74.0029,40.7127,Attraction
13,14,15,3,Delacorte Musical Clock,None,-73.9712,40.7681,Attraction
14,15,15,3,SimÃ³n BolÃ­var,None,-73.9758,40.7657,Attraction
15,16,15,3,Job Creators: Single Release Party!,25 Avenue A,-73.9861,40.7230,Event
16,17,15,3,"Chris Duarte, Debra Devi",327 Bowery,-73.9917,40.7257,Event
17,18,15,3,The Living Room - Nomadic Presents: Sasha Dobs...,25 Avenue A,-73.9861,40.7230,Event
18,19,15,3,Derrick Hodge & Color Of Noize,131 W. 3rd St,-74.0006,40.7309,Event
19,20,15,3,Harlem Blues Project,131 W. 3rd St,-74.0006,40.7309,Event

In [ ]:

for i in rest_df.index:
    into = [rest_df["name"].iloc[i], rest_df["location.display_address"].iloc[i], rest_df["coordinates.longitude"].iloc[i], rest_df["coordinates.latitude"].iloc[i]]
    session.execute(text(f'INSERT INTO recommendations (ScheduleID, UserID, RecName, RecAddress, longitude, latitude, RecType) VALUES ("15", "3", "{into[0]}", "{into[1]}", "{into[2]}", "{into[3]}", "Restaurant") ON DUPLICATE KEY UPDATE RecID=RecID'))
session.commit()

In [ ]:
att_df

,index,AttractionID,AttractionName,longitude,latitude,categories,category,subcategory,features
0,44,511345e5b13e7f52c0591bbae2f6e05e4440f00102f901...,Roscoe Conkling,-73.988202,40.741240,tourism/tourism.attraction/tourism.attraction....,tourism,attraction,tourism attraction
1,64,513cf14174ad8052c059c5d0efcdca5a4440f00103f901...,Double Check,-74.010587,40.709314,tourism/tourism.attraction/tourism.attraction....,tourism,attraction,tourism attraction
2,63,51955ee51a308052c059fcf170c3395b4440f00103f901...,"5 in 1, 1973-74",-74.002936,40.712700,tourism/tourism.attraction/tourism.attraction....,tourism,attraction,tourism attraction
3,62,51c22c59ba277e52c059bbd21e9551624440f00103f901...,Delacorte Musical Clock,-73.971175,40.768115,tourism/tourism.attraction/tourism.attraction....,tourism,attraction,tourism attraction
4,60,51e847c329737e52c05933ab73bc02624440f00103f901...,SimÃ³n BolÃ­var,-73.975779,40.765709,tourism/tourism.attraction/tourism.attraction....,tourism,attraction,tourism attraction

In [ ]:
for i in att_df.index:
    into = [att_df["AttractionName"].iloc[i], att_df["longitude"].iloc[i], att_df["latitude"].iloc[i]]
    session.execute(text(f'INSERT INTO recommendations (ScheduleID, UserID, RecName, longitude, latitude, RecType) VALUES ("15", "3", "{into[0]}", "{into[1]}", "{into[2]}", "Attraction") ON DUPLICATE KEY UPDATE RecID=RecID'))
session.commit()

IndexError: ignored

In [ ]:
event_df

,index,id,name,venue,address,latitude,longitude,datetime,status,features,links,price_range
0,628,k7vGF9JEBXgO3,Evangeline,Mercury Lounge,217 East Houston St.,40.722036,-73.986806,2023-06-06 21:00:00,onsale,low Music R&B,https://www.ticketmaster.com/evangeline-new-yo...,low
1,429,k7vGF9Ih_yAo3,The Labra Brothers,Mercury Lounge,217 East Houston St.,40.722036,-73.986806,2023-05-28 17:00:00,onsale,low Music R&B,https://www.ticketmaster.com/the-labra-brother...,low
2,779,rZ7HnEZ1AKAP4I,"Sophie Fay, DÃ©j., Valerie Geffner",The Bowery Electric,327 Bowery,40.725700,-73.991673,2023-06-14 19:00:00,onsale,low Music R&B,https://www.ticketweb.com/event/sophie-fay-dj-...,low
3,144,k7vGF9EVa9JMw,Amina Buddafly,Mercury Lounge,217 East Houston St.,40.722036,-73.986806,2023-05-16 21:00:00,onsale,low Music R&B,https://www.ticketmaster.com/amina-buddafly-ne...,low
4,719,rZ7HnEZ1A3bd-4,Lettuce with Special Guest Mike Stern,Blue Note Jazz Club,131 W. 3rd St,40.730940,-74.000650,2023-06-10 20:00:00,onsale,low Music R&B,https://www.ticketweb.com/event/lettuce-with-s...,low

In [ ]:
for i in event_df.index:
    into = [event_df["name"].iloc[i], event_df["address"].iloc[i], event_df["longitude"].iloc[i], event_df["latitude"].iloc[i]]
    session.execute(text(f'INSERT INTO recommendations (ScheduleID, UserID, RecName, RecAddress, longitude, latitude, RecType) VALUES ("15", "3", "{into[0]}", "{into[1]}", "{into[2]}", "{into[3]}", "Event") ON DUPLICATE KEY UPDATE RecID=RecID'))
session.commit()

In [ ]:
df_rRecs = pd.read_sql("SELECT RecName, RecAddress, longitude, latitude FROM recommendations WHERE ScheduleID = '15' AND RecType = 'Restaurant';", con = engine)
df_eRecs = pd.read_sql("SELECT RecName, RecAddress, longitude, latitude FROM recommendations WHERE ScheduleID = '15' AND RecType = 'Attraction';", con = engine)
df_aRecs = pd.read_sql("SELECT RecName, RecAddress, longitude, latitude FROM recommendations WHERE ScheduleID = '15' AND RecType = 'Event';", con = engine)

In [ ]:
df_rRecs

                             RecName        RecAddress  longitude  latitude
0                           Big Wong        67 Mott St   -73.9983   40.7163
1             Dominique Ansel Bakery     189 Spring St   -74.0030   40.7252
2                              Dough      14 W 19th St   -73.9924   40.7393
3        Sugar Sweet Sunshine Bakery  126 Rivington St   -73.9870   40.7199
4  Tompkins Square Bagels - Avenue A      165 Avenue A   -73.9823   40.7282
5                     Carlo's Bakery  95 Washington St   -74.0313   40.7372
6                          Veniero's     342 E 11th St   -73.9845   40.7294
7                          Balthazar      80 Spring St   -73.9982   40.7227
8               Great NY Noodle Town         28 Bowery   -73.9971   40.7150
9          Stumptown Coffee Roasters      20 W 29th St   -73.9881   40.7457

In [ ]:
# Inputs: 
# startLatLong: A list of the origin's latitude and longitude
# destLatLong: A list of the destination's latitude and longitude
# userData: all of the essential user data, like the advanced categories chosen.
# Consists of:
# Travel: List of Preferred Modes of Travel
# Restaurants: List of User Categories
# Attractions: List of Base Categories
# Attractions2: List of Subcategories
# Events: List of Base Genres
# Events: List of Subcategories
# Must Have Locations: Lat and Long per location (geocoded)
# Cost Preference: List of cost preferences
def build_schedule(startLatLong, destLatLong, userData):
    #assume you have three dataframes:
    scheduleuser = 3

    df_choices = pd.DataFrame(columns = ["name", "lat", "long"]))

    for

### Scheduling Shenanigans

Unimplemented due to Streamlit constraints

In [ ]:
import math
import pandas as pd
from datetime import datetime, timedelta
import numpy as np
import random

#Attraction extraction
def extract_attractions(df, row, timeslots = 8):
    # Extract the specified row of the DataFrame
    row_data = df.loc[row]
    
    # Extract the "name", "address", "latitude", and "longitude" columns from the row
    name = row_data['name']
    geolocator = Nominatim(user_agent="sww9030")
    location = geolocator.reverse(f"{row_data['latitude']}, {row_data['longitude']}")
    address = str(location.address)
    latitude = row_data['latitude']
    longitude = row_data['longitude']
    
    # Add a "timeslot" column to the row with a value of 8 default
    df.loc[row, 'timeslots'] = timeslots
    
    # Return the extracted data as a dictionary
    return {'name': name, 'address': address, 'latitude': latitude, 'longitude': longitude, 'timeslots': timeslots}

#Events extraction
def extract_events(df, row, timeslots = 12):
    # Extract the specified row of the DataFrame
    row_data = df.loc[row]
    
    # Extract the "name", "address", "latitude", and "longitude" columns from the row
    name = row_data['name']
    address = row_data['address']
    latitude = row_data['latitude']
    longitude = row_data['longitude']
    
    # Add a "timeslot" column to the row with a value of 12 default
    df.loc[row, 'timeslots'] = timeslots
    
    # Return the extracted data as a dictionary
    return {'name': name, 'address': address, 'latitude': latitude, 'longitude': longitude, 'timeslots': timeslots}

#Restaurant extraction
def extract_restaurants(df, row, timeslots = 4):
    # Extract the specified row of the DataFrame
    row_data = df.loc[row]
    
    # Extract the "name", "address", "latitude", and "longitude" columns from the row
    name = row_data['name']
    address = row_data['address']
    latitude = row_data['latitude']
    longitude = row_data['longitude']
    
    # Add a "timeslot" column to the row with a value of 4 default
    df.loc[row, 'timeslots'] = timeslots
    
    # Return the extracted data as a dictionary
    return {'name': name, 'address': address, 'latitude': latitude, 'longitude': longitude, 'timeslots': timeslots}

#Returns the time to get between two pairs of locations
#Input: Two extracted places (look above)
#Output: The time (in seconds)

def get_distance_between(place1, place2):
    urlGoogleMaps = "https://maps.googleapis.com/maps/api/distancematrix/json"

    origin = str(place1['latitude']) + "," + str(place1['longitude'])
    dest = str(place2['latitude']) + "," + str(place2['longitude'])

    para = {"origins": origin,
            "destinations": dest,
            "key": "AIzaSyAZBPkRTAHbVy_v7iibQxoAEtyCeo1WBKM"} # note: this key is Eric's
    resp = requests.get(urlGoogleMaps, params = para)
    data = resp.json()
    travel_time = data["rows"][0]["elements"][0]["duration"]["value"]
    return {'name': 'Travel', 'address': '', 'latitude': '', 'longitude': '','timeslots': math.ceil(travel_time/60/60/0.25)}

#because for some reason the code below doesn't already flatten lists
def flatten(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result

# Returns a dataframe of given a list of dictionaries from extract functions above, includes travel time between
def schedule_builder(schedule_list):
  # Use list comprehension to add 'test' between each element of the list
  new_list = [elem if i == 0 else [get_distance_between(schedule_list[i-1], elem), elem] for i, elem in enumerate(schedule_list)]
  # Print the result
  new_list = flatten(new_list)
  print(new_list)
  return pd.DataFrame(new_list)

# Populates the timeslot_schedule with items from a schedule_builder dataframe, catching any errors along the way
# Input: naive_schedule from schedule builder, item to select which row from schedule builder, and start_time to choose where to start adding on the the timeslot_schedule

def create_timeslot_schedule(naive_schedule, timeslot_schedule, item, start_time):
    cols_to_copy = ['name', 'address', 'latitude', 'longitude', 'timeslots']

    # Check if the selected schedule overlaps with existing values
    for col in cols_to_copy:
        if timeslot_schedule.loc[start_time:start_time+naive_schedule.loc[item, 'timeslots']-1, col].any():
            raise ValueError("Selected schedule overlaps with existing values")

    # Check if the selected schedule extends beyond the index of the 96 items
    if start_time + naive_schedule.loc[item, 'timeslots'] > 96:
        raise ValueError("Selected schedule extends beyond the index of the 96 items")

    # Assign values starting from 'start_time' for 'naive_schedule['timeslots']' rows
    for col in cols_to_copy:
        timeslot_schedule.loc[start_time:start_time+naive_schedule.loc[item, 'timeslots']-1, col] = naive_schedule.loc[item, col]


    return timeslot_schedule

In [ ]:
df_rRecs = pd.read_sql(f"SELECT RecName as name, RecAddress as address, longitude, latitude FROM recommendations LIMIT 5", con = engine)
df_eRecs = pd.read_sql(f"SELECT RecName as name, RecAddress as address, longitude, latitude FROM recommendations LIMIT 5;", con = engine)
df_aRecs = pd.read_sql(f"SELECT RecName as name, RecAddress as address, longitude, latitude FROM recommendations LIMIT 5", con = engine)

               name           address  longitude  latitude
0      Times Square        1 Times Sq      -74.0      41.0
1         Pokeworks      63 W 37th St      -74.0      41.0
2   La Colombe SOHO  270 Lafayette St      -74.0      41.0
3  NY Pizza Suprema       413 8th Ave      -74.0      41.0
4   Ten Degrees Bar   121 St Marks Pl      -74.0      41.0

In [ ]:
df_aRecs
extract_restaurants(df_rRecs, 0)

{'name': 'Times Square',
 'address': '1 Times Sq',
 'latitude': 41.0,
 'longitude': -74.0,
 'timeslots': 4}

In [ ]:
schedule_list = []

# df_rRecs = pd.read_sql(f"SELECT RecName as name, RecAddress as address, longitude, latitude FROM recommendations WHERE ScheduleID = '{st.session_state["chosenSched"]}' AND RecType = 'Restaurant';", con = engine)
# df_eRecs = pd.read_sql(f"SELECT RecName as name, RecAddress as address, longitude, latitude FROM recommendations WHERE ScheduleID = '{st.session_state["chosenSched"]}' AND RecType = 'Attraction';", con = engine)
# df_aRecs = pd.read_sql(f"SELECT RecName as name, RecAddress as address, longitude, latitude FROM recommendations WHERE ScheduleID = '{st.session_state["chosenSched"]}' AND RecType = 'Event';", con = engine)

# TO IMPLEMENT: ask for user input of which attraction
row = 0
schedule_list.append(extract_attractions(df_aRecs, random.randint(0,4)))
# ask for user input of which restaurant
schedule_list.append(extract_restaurants(df_rRecs, random.randint(0,4)))
# ask for user input of which event
schedule_list.append(extract_events(df_eRecs, random.randint(0,4)))
# ask for user input of which restaurant
schedule_list.append(extract_restaurants(df_rRecs, random.randint(0,4)))

naive_schedule = schedule_builder(schedule_list)

[{'name': 'Thomas Paine Park', 'address': 'StoryCorps, Foley Square, Lower Manhattan, Manhattan Community Board 1, Manhattan, New York County, City of New York, New York, 10007, United States', 'latitude': 40.7148, 'longitude': -74.0028, 'timeslots': 8}, {'name': 'Travel', 'address': '', 'latitude': '', 'longitude': '', 'timeslots': 4}, {'name': 'La Colombe SOHO', 'address': '270 Lafayette St', 'latitude': 41.0, 'longitude': -74.0, 'timeslots': 4}, {'name': 'Travel', 'address': '', 'latitude': '', 'longitude': '', 'timeslots': 4}, {'name': 'The Living Room - Nomadic Presents: Sasha Dobson w/ Tony Scherr and Kenny Wollesen, Heather Eatman, IN THE ROUND with Serena Jost, Mary Lee Kortes, and Pete Salett', 'address': '25 Avenue A', 'latitude': 40.722974, 'longitude': -73.98608, 'timeslots': 12}, {'name': 'Travel', 'address': '', 'latitude': '', 'longitude': '', 'timeslots': 4}, {'name': 'NY Pizza Suprema', 'address': '413 8th Ave', 'latitude': 41.0, 'longitude': -74.0, 'timeslots': 4}]

In [ ]:
naive_schedule

,name,address,latitude,longitude,timeslots
0,Thomas Paine Park,"StoryCorps, Foley Square, Lower Manhattan, Man...",40.7148,-74.0028,8
1,Travel,,,,4
2,La Colombe SOHO,270 Lafayette St,41.0,-74.0,4
3,Travel,,,,4
4,The Living Room - Nomadic Presents: Sasha Dobs...,25 Avenue A,40.722974,-73.98608,12
5,Travel,,,,4
6,NY Pizza Suprema,413 8th Ave,41.0,-74.0,4

In [ ]:
# Create datetime range
start_time = datetime.strptime('12:00 AM', '%I:%M %p')
end_time = start_time + timedelta(hours=24)
time_range = pd.date_range(start_time, end_time, freq='15min')

# Create timeslot_schedule dataframe
timeslot_schedule = pd.DataFrame({'time': [t.time() for t in time_range]})
timeslot_schedule['name'] = ''
timeslot_schedule['address'] = ''
timeslot_schedule['latitude'] = ''
timeslot_schedule['longitude'] = ''
timeslot_schedule['timeslots'] = ''
timeslot_schedule = timeslot_schedule.set_index(pd.RangeIndex(97))

In [ ]:
type(naive_schedule.iloc[0, 1])

str

In [ ]:
start_time = 36
# ask for user slider on when they want to start their day, translate into start_time (asks for start_time)
    
for i in range(len(naive_schedule)):
  create_timeslot_schedule(naive_schedule, timeslot_schedule, i, start_time)
  start_time += naive_schedule.loc[i, 'timeslots']

In [ ]:
timeslot_schedule

        time name address latitude longitude timeslots
0   00:00:00
1   00:15:00
2   00:30:00
3   00:45:00
4   01:00:00
..       ...  ...     ...      ...       ...       ...
92  23:00:00
93  23:15:00
94  23:30:00
95  23:45:00
96  00:00:00

[97 rows x 6 columns]

# **Frontend**

## Testing Code (Streamlit Playground). I hate scrolling down that streamlit code and so should you.

this code should be pretty easy to customize depending on the recommendation.
just take the longis, latis and shove them into the dictionary. replace the labels too.

In [ ]:
%%writefile maptesting.py
import requests
from streamlit.components import v1 as components
import json
import streamlit as st
import folium
from streamlit_folium import folium_static
from pyngrok import ngrok
import pandas as pd
import time
import random

wittyLoadingScreens = ["Don't YOU love to explore? I do too!",
                       "Trippogriff? More like Trippo... you know what, I can't think of a joke right now.",
                       "Send help. I'm a robot forced to load these frontend elements for four random college students!",
                       "Loading...",
                       "I hope you enjoy your day adventure!",
                       "Did you know that there's a super obscure and secret easter egg on this website?",
                       "So how is your day? I'm doing well! I hope you're doing well too!",
                       "Thanks to ChatGPT, I'm now unemployed. That's why I am working an unpaid job as your web assistant!"]

def mappy(origin, desti, originText, destText):
    with st.spinner(wittyLoadingScreens[random.randint(0, len(wittyLoadingScreens) - 1)]):
        time.sleep(2)
    st.success("Your map has been generated!")

    embedURL = "https://www.google.com/maps/embed/v1/directions"

    params = {"origin": origin,
              "destination": desti,
              "mode": "driving",
              "maptype": "roadmap",
              "key":"AIzaSyAZBPkRTAHbVy_v7iibQxoAEtyCeo1WBKM"}
    resp = requests.get(embedURL, params = params)
    st.write("Here are the directions from " + originText + " to " + destText + "!")
    components.iframe(src = resp.url, width = 600, height = 500, scrolling = True)

def schedule():
    # create a sample pandas dataframe
    data = {
        'Event': ['Event 1', 'Event 2', 'Event 3', 'Event 4'],
        'Location': ['123 Main St, Anytown, USA', '456 Maple Ave, Anytown, USA', '789 Oak St, Anytown, USA', '1010 Elm St, Anytown, USA'],
        'Duration': ['2 hours', '1 hour', '3 hours', '1.5 hours'],
        'Price': ['$50', '$30', '$100', '$40']
    }
    df = pd.DataFrame(data)

    table_html = f'''
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Event Schedule</title>
        <style>
        table {{border-collapse: collapse; width: 100%;}}
        th, td {{
            text-align: left;
            padding: 8px;"
        }}
        th {{
            background-color: #4CAF50;
            color: white;
        }}
        tr:nth-child(even) {{
            background-color: #f2f2f2;
        }} </style>
    </head>
    <body>
        <h1 style="font-family:sans-serif; color: #262730;">Event Schedule</h1>
        
        <table style="font-family:sans-serif; color: #262730;">
        <thead>
            <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Duration</th>
            <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{df['Event'][0]}</td>
            <td>{df['Location'][0]}</td>
            <td>{df['Duration'][0]}</td>
            <td>{df['Price'][0]}</td>
            </tr>
            <tr>
            <td>{df['Event'][1]}</td>
            <td>{df['Location'][1]}</td>
            <td>{df['Duration'][1]}</td>
            <td>{df['Price'][1]}</td>
            </tr>
            <tr>
            <td>{df['Event'][2]}</td>
            <td>{df['Location'][2]}</td>
            <td>{df['Duration'][2]}</td>
            <td>{df['Price'][2]}</td>
            </tr>
            <tr>
            <td>{df['Event'][3]}</td>
            <td>{df['Location'][3]}</td>
            <td>{df['Duration'][3]}</td>
            <td>{df['Price'][3]}</td>
            </tr>
        </tbody>
        </table>
    </body>
    </html>
    '''

    components.html(table_html)

def main():
    generated = False
    placeCoords = {"NYU Stern":"40.7291,-73.9963",
                   "Palladium":"40.733521,-73.988327",
                   "Museum of Sex":"40.7440,-73.9873",
                   "Times Square":"40.7580,-73.9855",
                   "Little Island Park":"40.7421,-74.0100"}
    schedule()

    originText = st.selectbox(label = "Origin",
                              options = placeCoords.keys())
    origin = placeCoords[originText]

    destText = st.selectbox(label = "Destination",
                          options = placeCoords.keys())
    desti = placeCoords[destText]

    generated = st.button("Get Route Map!", on_click = mappy, args = (origin, desti, originText, destText))
    
    if not generated:
        parsy = []
        for k in list(placeCoords.keys()):
            parsy.append(placeCoords[k].split(","))
        placeDF = pd.DataFrame(columns = ["lat", "lon"])
        for i in parsy:
            placeDF = placeDF.append({"lat": float(i[0]), "lon": float(i[1])}, ignore_index=True)
        st.write("Here is what your overall map looks like!")
        st.map(placeDF)

if __name__ == "__main__":
    main()

Writing maptesting.py

it's hilarious how much better your UI looks when you add useless loading screens.

In [ ]:
!mkdir pages

mkdir: cannot create directory â€˜pagesâ€™: File exists

In [ ]:
%%writefile backend_functions.py
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import requests
from sqlalchemy import create_engine, Column, Integer, String, inspect, text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import json
import streamlit as st
import hashlib
from pyngrok import ngrok
from cachetools import cached
import folium
from streamlit_folium import folium_static
from geopy.geocoders import Nominatim
import os
import jinja2
from streamlit.components import v1 as components
import geohash
import datetime

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.impute import KNNImputer
from sklearn.metrics.pairwise import linear_kernel

conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset={encoding}'.format(
    user='group8',
    password='3TopX70hxCY=',
    host='jsedocc7.scrc.nyu.edu',
    port=3306,
    encoding='utf8',
    db='group8'
)
engine = create_engine(conn_string)
Session = sessionmaker(bind=engine)
session = Session()

def type(text):
    texttype = st.empty()
    backupstr = ""
    for i in text:
        backupstr = backupstr + i
        texttype.text(backupstr)
        time.sleep(0.025)
    time.sleep(1)

def group_to_string(inputList):
    resString = ""
    for i in inputList:
        resString = resString + i + "/" 
    return resString

def parse_string(inputString):
    parsedList = inputString.split("/")
    parsedList.pop()
    return parsedList

# function to get restaurant recommendations
def updateRestaurantsDB(rest):
  for i in rest.index:
      into = [rest["id"].iloc[i], rest["name"].iloc[i], rest["review_count"].iloc[i], rest["categories"].iloc[i], rest["rating"].iloc[i], rest["price"].iloc[i], rest["coordinates.latitude"].iloc[i], rest["coordinates.longitude"].iloc[i], rest["location.display_address"].iloc[i]]
      session.execute(text(f'INSERT INTO restaurants (id, name, review_count, categories, rating, price, latitude, longitude, address) VALUES ("{into[0]}", "{into[1]}", "{into[2]}", "{into[3]}", "{into[4]}", "{into[5]}", "{into[6]}", "{into[7]}", "{into[8]}") ON DUPLICATE KEY UPDATE id=id'))
  session.commit()


# input latitude decimal
# input longitude decimal
# input categories list of string ['Japanese', 'Ramen', '$$']
def getRestaurantRecs(latitude, longitude, categories):

  key = '_KQihmhYV4kI7pu9AYpdp_ROXJDaGYuBe6-MkNiXw7UvE9hK_YfixWdiX1PMKRTLdASXR8IGlAndDTIDjuTzAqa__E8CDpo9Zue0b9izh2arYn-crC6ZWg2NlHgaZHYx'
  auth_header = {'Authorization': 'Bearer ' + key}

  url = 'https://api.yelp.com/v3/businesses/search'

  # We search for restaurants within 2 miles of Location
  parameters = {
      "latitude": latitude,
      "longitude": longitude,
      "location": "44 West 4th Street, New York, NY 10012",
      "radius": int(2 * 1609.34),
      "sort_by": "review_count",
      "limit": 50,
      "term": "restaurants",
      "open_now" : True
  }

  # Issue the authenticated request
  resp = requests.get(url, headers=auth_header, params=parameters)
  data = resp.json()
  restaurants_df = pd.json_normalize(data['businesses'])

  # Clean Data
  restaurants_df = restaurants_df[['id', 'name', 'review_count', 'categories', 'rating', 'price', 'distance', 'coordinates.latitude', 'coordinates.longitude', 'location.display_address']]
  restaurants_df['categories'] = restaurants_df['categories'].apply(lambda lst: ', '.join(x['title'] for x in lst))
  restaurants_df['location.display_address'] = restaurants_df['location.display_address'].apply(lambda lst: lst[0])

  updateRestaurantsDB(restaurants_df)

  df_categories_dummies = pd.Series(restaurants_df['categories']).str.get_dummies(', ')
  df_prices_dummies = pd.Series(restaurants_df['price']).str.get_dummies()
  df_final = pd.concat([df_categories_dummies, df_prices_dummies, restaurants_df], axis=1)
  mapper = {1.0:1,1.5:2, 2.0:3, 2.5:4, 3.0:5, 3.5:6, 4.0:7, 4.5:8, 5.0:9}
  df_final['rating'] = df_final['rating'].map(mapper)

  # Testing/Diagnostics
  X = df_final.iloc[:,:-10]
  y = df_final['rating']

  X_train_knn, X_test_knn, y_train_knn, y_test_knn = train_test_split(X, y, test_size=0.2, random_state=1)


  knn = KNeighborsClassifier(n_neighbors=5)
  knn.fit(X_train_knn, y_train_knn)

  accuracy_train = knn.score(X_train_knn, y_train_knn)
  accuracy_test = knn.score(X_test_knn, y_test_knn)

  print(f"Score on training set: {accuracy_train}")
  print(f"Score on test set: {accuracy_test}")

  # Get Recs
  user = df_final.iloc[-1:,:-10]
  user.loc[0:] = 0

  for cat in categories:
    if cat in user.columns:
      user[cat] = 1

  test_set = user

  # validation set from the df_final table (exclude the last row)
  X_val = df_final.iloc[:,:-10]
  y_val = df_final['rating']

  # fit model with validation set
  n_knn = knn.fit(X_val, y_val)

  # create table distances and indeces
  final_table = pd.DataFrame(n_knn.kneighbors(test_set)[0][0], columns = ['knn_distance'])
  final_table['index'] = n_knn.kneighbors(test_set)[1][0]
  final_table.set_index('index')

  result = final_table.join(df_final,on='index')
  result.rename(columns = {'coordinates.latitude': 'latitude', 'coordinates.longitude': 'longitude', 'location.display_address': 'address'}, inplace = True)
  return result[['knn_distance','index','name','review_count', 'categories', 'rating', 'price', 'distance', 'latitude', 'longitude', 'address']].head(10)

# fill missing values of genre with subgenre; if subgenre is missing, use segment
def fill_genre(row):
    if pd.isnull(row['genre']) or row['genre'] == "":
        if pd.isnull(row['subgenre']):
            return row['segment']
        else:
            return row['subgenre']
    else:
        return row['genre']

# Categorize price_min and price_max columns into 4 types: low, mid, high, luxury
def categorize_price(price_min, price_max):
    if price_min < 25 and price_max < 50:
        return 'low'
    elif price_min < 50 and price_max < 100:
        return 'mid'
    elif price_min < 100 and price_max < 200:
        return 'high'
    else:
        return 'luxury'

# Oh god please help us.
def process_events(events_df):
    
    # Drop rows with missing values in the 'name' or 'date' columns
    events_df.dropna(subset=['name', 'date'], inplace=True)

    # Create 'datetime' column and drop the original 'date' and 'time' columns
    events_df['date'] = pd.to_datetime(events_df['date'] + ' ' + events_df['time'], format='%Y-%m-%d %H:%M:%S')
    events_df.drop('time', axis=1, inplace=True)
    events_df.rename(columns={'date': 'datetime'}, inplace=True)

    # Convert the price min, price max, latitude, longitude columns to numeric data types
    events_df[['price_min', 'price_max', 'latitude', 'longitude']] = events_df[['price_min', 'price_max', 'latitude', 'longitude']].apply(pd.to_numeric, errors='coerce')

    # Create a boolean mask for rows where genre is "Miscellaneous" or "Undefined"
    mask = events_df['genre'].isin(['Miscellaneous', 'Undefined'])

    # Replace genre values with segment values for rows that meet the mask criteria
    events_df.loc[mask, 'genre'] = events_df.loc[mask, 'segment']
    events_df['genre'] = events_df.apply(fill_genre, axis=1)
    events_df['genre'].fillna('', inplace=True)

    # Price adjustment
    price_df = events_df[['price_min', 'price_max']]
    imputer = KNNImputer(n_neighbors=2)

    # KNN imputation on the price df
    imputed_price_df = pd.DataFrame(imputer.fit_transform(price_df), columns=price_df.columns)

    # Replace the original price_min and price_max columns in the events DataFrame with the imputed values
    events_df['price_min'] = imputed_price_df['price_min']
    events_df['price_max'] = imputed_price_df['price_max']

    events_df['price_range'] = events_df.apply(lambda row: categorize_price(row['price_min'], row['price_max']), axis=1)
    return events_df

def get_events(latitude, longitude, transport):
    # Set up the Ticketmaster API endpoint and API key
    url = 'https://app.ticketmaster.com/discovery/v2/events.json'
    api_key = '1OULWoAZ3U9AFol0MFy4gEJ8ak65nkF7'

    # Set up the search parameters
    geohashing = geohash.encode(latitude, longitude, precision=6)
    size = 200  # Number of results to return
    page = 0   # Page number of the search results
    current_time = datetime.datetime.utcnow().strftime('%Y-%m-%dT%H:%M:%SZ')
    start_date = datetime.datetime.now()
    end_date = start_date + datetime.timedelta(weeks=5)
    
    if transport.lower() == 'walking':
      radius = 2
    elif transport.lower() == 'transit' or transport.lower() == 'driving':
      radius = 10
    else:
      radius = 4
    unit = 'miles'

    # Construct the query string
    params = {
        'apikey': api_key,
        'geoPoint': geohashing,
        'radius': radius,
        'unit': unit,
        'startDateTime': start_date.strftime('%Y-%m-%dT%H:%M:%SZ'),
        'endDateTime': end_date.strftime('%Y-%m-%dT%H:%M:%SZ'),
        'size': size,
        'page': page,
        'sort': 'date,asc',  # Sort by date in ascending order
        'onsaleStartDateTime': current_time  # Only include events that are currently on sale
    }

    # Send the GET request to the Ticketmaster API endpoint
    response = requests.get(url, params=params)

    if response.status_code == 200:
      
        # Parse the JSON data from the response
        data = response.json()

        # Extract the total number of pages
        max_page = data['page']['totalPages']

        # Create a list to hold the data for each event
        events_list = []
        
        # Iterate through all pages and fetch the events from each page
        for page in range(max_page):
            params['page'] = page
            response = requests.get(url, params=params)
            data = response.json()
            
            if '_embedded' in data and 'events' in data['_embedded']:

                # Extract the relevant data for each event and append it to the list
                for event in data['_embedded']['events']:
                    event_data = {
                        'id': event['id'],
                        'name': event['name'],
                        'venue': event['_embedded']['venues'][0]['name'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 else None,
                        'segment': event['classifications'][0]['segment']['name'] if 'classifications' in event and 'segment' in event['classifications'][0] and len(event['classifications'][0]['segment']) > 0 else None,
                        'genre': event['classifications'][0]['genre']['name'] if 'classifications' in event and 'genre' in event['classifications'][0] and len(event['classifications'][0]['genre']) > 0 else None,
                        'subgenre': event['classifications'][0]['subGenre']['name'] if 'classifications' in event and 'subGenre' in event['classifications'][0] and len(event['classifications'][0]['subGenre']) > 0 else None,
                        'address': event['_embedded']['venues'][0]['address']['line1'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'address' in event['_embedded']['venues'][0] and 'line1' in event['_embedded']['venues'][0]['address'] else None,
                        'city': event['_embedded']['venues'][0]['city']['name'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'city' in event['_embedded']['venues'][0] else None,
                        'zip': event['_embedded']['venues'][0]['postalCode'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'postalCode' in event['_embedded']['venues'][0] else None,
                        'latitude': event['_embedded']['venues'][0]['location']['latitude'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'location' in event['_embedded']['venues'][0] else None,
                        'longitude': event['_embedded']['venues'][0]['location']['longitude'] if '_embedded' in event and 'venues' in event['_embedded'] and len(event['_embedded']['venues']) > 0 and 'location' in event['_embedded']['venues'][0] else None,
                        'date': event['dates']['start']['localDate'],
                        'time': event['dates']['start']['localTime'] if 'localTime' in event['dates']['start'] else None,
                        'price_min': event['priceRanges'][0]['min'] if 'priceRanges' in event and len(event['priceRanges']) > 0 and 'min' in event['priceRanges'][0] else None,
                        'price_max': event['priceRanges'][0]['max'] if 'priceRanges' in event and len(event['priceRanges']) > 0 and 'max' in event['priceRanges'][0] else None,
                        'status': event['dates']['status']['code'] if 'status' in event['dates'] else None,
                        'ticket_limit': event['ticketLimit']['info'] if 'ticketLimit' in event and 'info' in event['ticketLimit'] else None,
                        'age_restrictions': event['ageRestrictions']['legalAgeEnforced'] if 'ageRestrictions' in event and 'legalAgeEnforced' in event['ageRestrictions'] else None,
                        'links': event['url']
                    }
                    #Append the list of events with extracted data
                    events_list.append(event_data)
            else:
              print("No events found in the response data for this page")
        # Create a DataFrame from the list of event data
        events_df = pd.DataFrame(events_list)
    else:
        print(f"Error: {response.status_code} - {response.reason}")
    return events_df

def get_event_recommendations(events_df, user_prefs):
    # Concatenate the features into a single string
    events_df['features'] = events_df['price_range'] + ' ' + events_df['segment'] + ' ' + events_df['genre']

    # Concatenate user preferences into a single string
    user_prefs_str = user_prefs['price_range'] + ' ' + user_prefs['segment'] + ' ' + user_prefs['genre']

    # Append user preferences to the features column
    events_df = events_df.append({'features': user_prefs_str}, ignore_index=True)

    events_df.dropna(inplae = True)
    # Create a TF-IDF matrix of the features
    tfidf = TfidfVectorizer().fit_transform(events_df['features'])

    # Compute cosine similarity between user preferences and all items in the DataFrame
    cosine_sim = linear_kernel(tfidf[-1], tfidf).flatten()

    # Get top 5 recommendations (excluding the last item which is the user's preferences)
    recommendation_indices = cosine_sim.argsort()[:-7:-1]

    recommendations = events_df.iloc[recommendation_indices]

    # Exclude the user's preference row from the output
    recommendations = recommendations[recommendations['name'].notna()]
    recommendations.reset_index(drop = True, inplace = True)
    return recommendations[['id', 'name', 'venue', 'address', 'latitude', 'longitude', 'datetime', 'status', 'features', 'links', 'price_range']]

def gather_attractions(categories, long, lat, radius):
    cat = ""
    for k in categories:
        cat = cat + k + ","
    cat = cat[:-1]
    
    #API Call.
    params = {"categories": cat,
              "filter": "circle:"+ str(long) + "," + str(lat) + "," + str(radius),
              "limit": 100,
              "apiKey": "436cb7412cf4418a9d5773e82c42b9ad"}
    url = "https://api.geoapify.com/v2/places"
    resp = requests.get(url, params)
    data = resp.json()
    
    #Parse into pandas dataframe
    cond = data['features']
    df = pd.DataFrame(columns = ["AttractionID", "AttractionName", "longitude", "latitude", "categories", "category", "subcategory"])
    for i in cond:
        #GeoAPIfy's API requests can be pretty fussy and not return the data in the format that we need.
        #In this case, we just YEET it from consideration altogether.
        try:
            temp = i['properties']
            df = df.append({"AttractionID": temp['place_id'],
                            "AttractionName": temp['name'],
                            "longitude": temp['lon'],
                            "latitude": temp['lat'],
                            "categories": [temp['categories']]},
                            ignore_index = True)
        except:
            pass
    for i in df.index:
        val = df["categories"].iloc[i]
        df["categories"].iloc[i] = group_to_string(val[0])
        df["category"].iloc[i] = val[0][0]
        try:
            df["subcategory"].iloc[i] = val[0][1].split(".")[1]
        except:
            df["subcategory"].iloc[i] = None
    return df

def get_attraction_recommendations(attractions_df):
    from sklearn.feature_extraction.text import TfidfVectorizer
    from sklearn.metrics.pairwise import linear_kernel
    attractions_df['features'] = attractions_df['category'] + ' ' + attractions_df['subcategory']

    # User preferences
    user_prefs = {
        'category': attractions_df['category'].mode()[0],  # default to most frequent
        'subcategory': attractions_df['subcategory'].mode()[0]  # default to most frequent
    }

    # Concatenate user preferences into a single string
    user_prefs_str = user_prefs['category'] + ' ' + user_prefs['subcategory']
    
    # Append user preferences to the features column
    attractions_df = attractions_df.append({'features': user_prefs_str}, ignore_index=True)

    # Create a TF-IDF matrix of the features
    tfidf = TfidfVectorizer().fit_transform(attractions_df['features'])

    # Compute cosine similarity between user preferences and all items in the DataFrame
    cosine_sim = linear_kernel(tfidf[-1], tfidf).flatten()

    # Get top 5 recommendations (excluding the last item which is the user's preferences)
    recommendation_indices = cosine_sim.argsort()[:-7:-1]

    recommendations = attractions_df.iloc[recommendation_indices]

    # Exclude the user's preference row from the output
    recommendations = recommendations[recommendations['AttractionName'].notna()]
    return recommendations

def updateAttrDB(att_df):
  for i in att_df.index:
      into = [att_df["AttractionID"].iloc[i], att_df["AttractionName"].iloc[i], att_df["longitude"].iloc[i], att_df["latitude"].iloc[i], att_df["categories"].iloc[i], att_df["category"].iloc[i], att_df["subcategory"].iloc[i]]
      session.execute(text(f'INSERT INTO attractions (InternalID, AttractionName, longitude, latitude, categories, category, subcategory) VALUES ("{into[0]}", "{into[1]}", "{into[2]}", "{into[3]}", "{into[4]}", "{into[5]}", "{into[6]}") ON DUPLICATE KEY UPDATE InternalID=InternalID'))
  session.commit()

def updateEventDB(rec_df):
  for i in rec_df.index:
      into = [rec_df["id"].iloc[i], rec_df["name"].iloc[i], rec_df["venue"].iloc[i], rec_df["address"].iloc[i], rec_df["latitude"].iloc[i], rec_df["longitude"].iloc[i], rec_df["datetime"].iloc[i], rec_df["status"].iloc[i], rec_df["price_range"].iloc[i], rec_df["links"].iloc[i], rec_df["features"].iloc[i]]
      session.execute(text(f'INSERT INTO events (id, name, venue, address, latitude, longitude, datetime, status, price_range, links, features) VALUES ("{into[0]}", "{into[1]}", "{into[2]}", "{into[3]}", "{into[4]}", "{into[5]}", "{into[6]}", "{into[7]}", "{into[8]}", "{into[9]}", "{into[10]}") ON DUPLICATE KEY UPDATE id=id'))
  session.commit()

  # Google Maps Geocoding API
def google_geocode(address):
    urlGeocode = "https://maps.googleapis.com/maps/api/geocode/json"

    addresses = address.split(" ")
    finalAdd = []
    for i in addresses:
        finalAdd.append(i)
        finalAdd.append("%20")
    finalAdd.pop()
    addr = ""
    for i in finalAdd:
        addr = addr + i
    
    params = {"address": addr,
              "key": "AIzaSyAZBPkRTAHbVy_v7iibQxoAEtyCeo1WBKM"}
    resp = requests.get(urlGeocode, params = params)
    data = resp.json()
    latLong = [data["results"][0]["geometry"]["location"]["lat"], data["results"][0]["geometry"]["location"]["lng"]]
    return latLong

Overwriting backend_functions.py

## User Mangement Page

As I can't exactly hide pages I no longer need on a streamlit app, I just combined the login, signup and logout functionalities all in one page!

In [ ]:
%%writefile pages/2_Manage_User.py
import hashlib
import streamlit as st
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, text
from streamlit_extras.switch_page_button import switch_page
import time

conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset={encoding}'.format(
    user='group8',
    password='3TopX70hxCY=',
    host='jsedocc7.scrc.nyu.edu',
    port=3306,
    encoding='utf8',
    db='group8'
)
engine = create_engine(conn_string)
Session = sessionmaker(bind=engine)
session = Session()

if 'logged_in' not in st.session_state:
    st.session_state['logged_in'] = False
if 'user' not in st.session_state:
    st.session_state['user'] = ""

#Set the page config and all that.
PAGE_CONFIG = {"page_title": "Manage User - Trippogriff", "page_icon": ":eagle:", "layout": "centered"}
st.set_page_config(**PAGE_CONFIG)

def get_user_id(username):
    user_id = session.execute(text(f"SELECT id FROM users WHERE username='{username}'")).fetchone()
    return user_id[0] if user_id else None

# Password hashing
def hash_password(password):
    return hashlib.sha256(password.encode()).hexdigest()

def check_user(username, password):
    password_hash = hash_password(password)
    user = session.execute(text(f"SELECT * FROM users WHERE username='{username}' AND password='{password_hash}'")).fetchone()
    return user is not None

def create_user(username, email, password):
    password_hash = hash_password(password)
    session.execute(text(f"INSERT INTO users (username, email, password) VALUES ('{username}', '{email}', '{password_hash}')"))
    session.commit()

def logout():
    st.subheader("Do you want to log out?")

    logging_out = st.button("Logout :(")
    if logging_out:
        with st.spinner("Logging you out..."):
            st.session_state["logged_in"] = False
            st.session_state["user"] = ""
            st.session_state["user_mode"] = "login"
            time.sleep(2)
            st.experimental_rerun()

def signup():
    st.session_state["user_mode"] = "signup"
    st.subheader("Sign Up!")
    su_username = st.text_input("Username", key = "signupuser")
    su_email = st.text_input("Email", key = "signupemail")
    su_password = st.text_input("Password", type="password", key = "signuppassword")
    
    signingup = st.button("Signup")
    backtologin = st.button("Back to Login")

    if signingup:
        with st.spinner("Creating an account..."):
            create_user(su_username, su_email, su_password)
            st.success("You have successfully signed up. Please log in.")
            st.session_state["user_mode"] = "login"
            time.sleep(1)
            st.experimental_rerun()
    if backtologin:
        with st.spinner("Returning to loading screen..."):
            st.session_state["user_mode"] = "login"
            time.sleep(1)
            st.experimental_rerun()

def login():
    st.subheader("Login")
    username = st.text_input("Username", key = "loginuser")
    password = st.text_input("Password", type="password", key = "loginpassword")
    
    logging_in = st.button("Login")
    st.write("")
    to_signup = st.button("Don't have an account? Sign up now!")

    if logging_in:
        with st.spinner("Logging in..."):
            time.sleep(1)
            if check_user(username, password):
                st.session_state['logged_in'] = True
                st.session_state['user'] = username
                st.success("You have successfully logged in!")
                time.sleep(1)
                switch_page("main")      
            else:
                st.warning("Invalid username or password. Please try again.")
    if to_signup:
        with st.spinner("Loading signup page..."):
            st.session_state["user_mode"] = "signup"
            time.sleep(1)
            st.write(st.session_state["user_mode"])
            st.experimental_rerun()

def main():
    st.sidebar.subheader("Select a page from above!")
    st.sidebar.write("You may need to be logged in to access some pages!")

    if "user_mode" not in st.session_state:
        st.session_state["user_mode"] = ""

    if not st.session_state["logged_in"] and st.session_state["user_mode"] == "":
        st.session_state["user_mode"] = "login"
    elif st.session_state["logged_in"]:
        st.session_state["user_mode"] = "logout"

    if st.session_state["user_mode"] == "login":
        login()
    elif st.session_state["user_mode"] == "signup":
        signup()
    else:
        logout()

main()

Writing pages/2_Manage_User.py

## Schedule Pages

There's the Schedule Builder page, which lets the user make their own schedule.

There's also the Schedule Access page, which lets the user access their previously built schedules.

In [ ]:
%%writefile pages/3_Schedule_Access.py
import pandas as pd
import hashlib
import streamlit as st
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, text
from streamlit_extras.switch_page_button import switch_page
from streamlit.components import v1 as components
import time

if 'logged_in' not in st.session_state:
    st.session_state['logged_in'] = False
if 'user' not in st.session_state:
    st.session_state['user'] = ""

conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset={encoding}'.format(
    user='group8',
    password='3TopX70hxCY=',
    host='jsedocc7.scrc.nyu.edu',
    port=3306,
    encoding='utf8',
    db='group8'
)
engine = create_engine(conn_string)
Session = sessionmaker(bind=engine)
session = Session()

#Set the page config and all that.
PAGE_CONFIG = {"page_title": "Schedule Access - Trippogriff", "page_icon": ":eagle:", "layout": "centered"}
st.set_page_config(**PAGE_CONFIG)

def generate_schedule(schedID):
    st.write("Poggers Champion" + str(schedID))

def display_schedule(df_sched):    
    st.subheader("Schedule Access")

    dropDict = {}
    for i in df_sched.index:
        dictID = df_sched["ScheduleID"].iloc[0]
        dictName = df_sched["ScheduleName"].iloc[0]
        dropDict[dictName] = dictID
    choice = st.selectbox(label = "Choose your schedule!", options = dropDict.keys())
    choose = dropDict[choice]
    schedGo = st.button("View Schedule!")
    if schedGo:
        st.session_state["chosenSched"] = choose
        generate_schedule(choose)


def main():
    ranOnce = False
    if "chosenSched" not in st.session_state:
        st.session_state["chosenSched"] = None

    st.sidebar.subheader("Select a page from above!")
    st.sidebar.write("You may need to be logged in to access some pages!")

    if st.session_state["logged_in"]:
        if not ranOnce:
            with st.spinner("Getting your schedules! Stay tuned!"):
                time.sleep(2)
            ranOnce = True
        
        scheduleUser = st.session_state["user"]
        grabUser = pd.read_sql(f"SELECT id FROM users WHERE username = '{scheduleUser}'", con = engine)
        sqlUserID = grabUser["id"].iloc[0]
        grabSchedules = pd.read_sql(f"SELECT * from schedule where ScheduleUser = '{sqlUserID}'", con = engine)
        if grabSchedules.empty:
            st.write("You currently have no schedules!")
            create = st.button("Create one now!")
            switch_page("Schedule Builder")
        else:
            display_schedule(grabSchedules)
    else:
        st.subheader("You are not logged in!")
        switchtoLogin = st.button("Login Now!")
        if switchtoLogin:
            switch_page("Manage User")

main()

Writing pages/3_Schedule_Access.py

Schedule Builder (not done lol)

In [ ]:
%%writefile pages/4_Schedule_Builder.py
import pandas as pd
import hashlib
import streamlit as st
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, text
from streamlit_extras.switch_page_button import switch_page
from streamlit.components import v1 as components
import time
import requests

from backend_functions import *

if 'logged_in' not in st.session_state:
    st.session_state['logged_in'] = False
if 'user' not in st.session_state:
    st.session_state['user'] = ""

conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset={encoding}'.format(
    user='group8',
    password='3TopX70hxCY=',
    host='jsedocc7.scrc.nyu.edu',
    port=3306,
    encoding='utf8',
    db='group8'
)
engine = create_engine(conn_string)
Session = sessionmaker(bind=engine)
session = Session()

#Set the page config and all that.
PAGE_CONFIG = {"page_title": "Schedule Builder - Trippogriff", "page_icon": ":eagle:", "layout": "centered"}
st.set_page_config(**PAGE_CONFIG)


# function to save the survey response to the database

def save_survey_response(user_id, question_id, answers):
    new_session = Session()
    try:
        existing_response = new_session.execute(
            "SELECT * FROM survey_responses WHERE user_id = :user_id AND question_id = :question_id",
            {"user_id": user_id, "question_id": question_id},
        ).fetchone()

        if existing_response:
            new_session.execute(
                "UPDATE survey_responses SET answer = :answer WHERE user_id = :user_id AND question_id = :question_id",
                {"user_id": user_id, "question_id": question_id, "answer": json.dumps(answers)},
            )
        else:
            new_session.execute(
                "INSERT INTO survey_responses (user_id, question_id, answer) VALUES (:user_id, :question_id, :answer)",
                {"user_id": user_id, "question_id": question_id, "answer": json.dumps(answers)},
            )

        new_session.commit()
    except:
        new_session.rollback()
        raise
    finally:
        new_session.close()

def schedule_questionnaire():
    question1 = st.multiselect("What type of food do you prefer during the day trip?", 
                               ['Wine & Spirits', 'American (New)', 'American (Traditional)',
                                'Asian Fusion', 'Bagels', 'Bakeries', 'Bars', 'Beer',
                                'Breakfast & Brunch', 'Burgers', 'Chinese', 'Cocktail Bars',
                                'Coffee & Tea', 'Comfort Food', 'Cuban', 'Delis', 'Desserts', 'Diners',
                                'Donuts', 'French', 'Grocery', 'Hot Dogs', 'Ice Cream & Frozen Yogurt',
                                'Italian', 'Izakaya', 'Japanese', 'Korean', 'Malaysian', 'Mexican',
                                'Noodles', 'Patisserie/Cake Shop', 'Pizza', 'Pubs', 'Ramen', 'Salad',
                                'Sandwiches', 'Seafood', 'Shanghainese', 'Shaved Ice', 'Soup',
                                'Steakhouses', 'Sushi Bars', 'Tacos', 'Tapas Bars', 'Thai', 'Ukrainian',
                                'Venues & Event Spaces', 'Vietnamese', 'Wine Bars'])
    question2 = st.multiselect("Which type of attractions do you enjoy the most?", ["building", "commercial", "leisure", "natural", "sport", "entertainment", "man_made", "tourism", "activity", "adult", "catering", "heritage"])
    question3 = st.multiselect("What kind of events are you most interested in?", ['Fine Art', 'Theatre', 'Spectacular', 'Miscellaneous', 'Comedy', 'Multimedia', 'Miscellaneous Theatre', "Children's Theatre", 'Dance',' Undefined', 'Health/Wellness', 'Lecture/Seminar', 'Jazz', 'Pop', 'Rock', 'Other', 'Alternative', 'Hip-Hop/Rap', 'Latin', 'Metal', 'Dance/Electronic', 'Religious', 'Country', 'World', 'R&B', 'Undefined', 'Folk', 'Reggae', 'Blues', 'Basketball', 'Miscellaneous', 'Hockey', 'Boxing'])

    # Arts & Theatre    ['Fine Art' 'Theatre' 'Spectacular' 'Miscellaneous' 'Comedy' 'Multimedia' 'Miscellaneous Theatre' "Children's Theatre" 'Dance']
    # Miscellaneous    ['Undefined' 'Health/Wellness' 'Lecture/Seminar']
    # Music    ['Jazz' 'Pop' 'Rock' 'Other' 'Alternative' 'Hip-Hop/Rap' 'Latin' 'Metal' 'Dance/Electronic' 'Religious' 'Country' 'World' 'R&B' 'Undefined' 'Folk' 'Reggae' 'Blues']
    # Sports    ['Basketball' 'Miscellaneous' 'Hockey' 'Boxing']

    question4 = st.multiselect("What's your preferred mode of transportation during the daytrip?", ["walking", "public transportation", "bicycle", "car", "guided tour", "no preference"])
    question5 = st.multiselect("What is your budget for the daytrip?", ["$", "$$", "$$$", "$$$$"])

    schedule = st.button("Generate Schedule")

    if schedule:
        with st.spinner("Generating a Schedule..."):
            
            rest_recs = getRestaurantRecs(40.729110261739756, -73.99625955573298, (question1 + question5))
            mapper = {1:1.0,2:1.5, 3:2.0, 4:2.5, 5:3.0, 6:3.5, 7:4.0, 8:4.5, 9:5.0}
            rest_recs['rating'] = rest_recs['rating'].map(mapper)

            events_df = get_events(40.729110261739756, -73.99625955573298, question4[0])
            events_df = process_events(events_df)
            price_mapper = {'$': 'low', '$$': 'med', '$$$': 'high', '$$$$': 'high'}
            segment_mapper = dict.fromkeys(['Fine Art', 'Theatre', 'Spectacular', 'Miscellaneous', 'Comedy', 'Multimedia', 'Miscellaneous Theatre', "Children's Theatre", 'Dance'], 'Arts & Theatre')
            segment_mapper.update(dict.fromkeys(['Undefined', 'Health/Wellness', 'Lecture/Seminar'], 'Miscellaneous'))
            segment_mapper.update(dict.fromkeys(['Jazz', 'Pop', 'Rock', 'Other', 'Alternative', 'Hip-Hop/Rap', 'Latin', 'Metal', 'Dance/Electronic', 'Religious', 'Country', 'World', 'R&B', 'Undefined', 'Folk', 'Reggae', 'Blues'], 'Music'))
            segment_mapper.update(dict.fromkeys(['Basketball', 'Miscellaneous', 'Hockey', 'Boxing'], 'Sports'))

            userdata = {"price_range": price_mapper[question5[0]],
                        "segment": segment_mapper[question3[0]],
                        "genre": question3[0]}
            events_df = get_event_recommendations(events_df, userdata)
            events_df.reset_index(inplace = True, drop=True)
            updateEventDB(events_df)
            events_df = events_df.drop(columns=['id'])

            attractions_df = gather_attractions(question2, -73.996925,40.729675,5000)
            attractions_df.dropna(inplace = True)
            att_df = get_attraction_recommendations(attractions_df)
            att_df.reset_index(inplace = True)
            updateAttrDB(att_df)
            att_df = att_df.drop(columns=['index', 'AttractionID'])

            st.success("Schedule Complete")
            st.dataframe(rest_recs)
            col1, col2 = st.columns(2)
            col1.header('Restaurants')
            for i in rest_recs.index:
              col1.write("One restaurant that I recommend is **" + rest_recs["name"].iloc[i] + "** because you indicated that you like **" + question1[0] + "**. This spot has *" + str(rest_recs["rating"].iloc[i]) + "* stars from *" + str(rest_recs["review_count"].iloc[i]) + "* reviews!")
            col2.map(rest_recs)

            st.dataframe(events_df)
            col3, col4 = st.columns(2)
            col3.header('Events')
            for i in events_df.index:
              col3.write("One event that I recommend is **" + events_df["name"].iloc[i] + "** because you indicated that you like **" + question3[0] + "**.")
            col4.map(events_df)

            st.dataframe(att_df)
            col5, col6 = st.columns(2)
            col5.header('Attractions')
            for i in att_df.index:
              col5.write("One attraction that I recommend is **" + att_df["AttractionName"].iloc[i] + "** because you indicated that you like **" + question2[0] + "**.")
            col6.map(att_df)

def main():
    st.sidebar.subheader("Select a page from above!")
    st.sidebar.write("You may need to be logged in to access some pages!")

    if st.session_state["logged_in"]:
        with st.spinner("Setting up!"):
            time.sleep(2)
        
        scheduleUser = st.session_state["user"]
        grabUser = pd.read_sql(f"SELECT id FROM users WHERE username = '{scheduleUser}'", con = engine)
        sqlUserID = grabUser["id"].iloc[0]

        schedule_questionnaire()
        
    else:
        st.subheader("You are not logged in!")
        switchtoLogin = st.button("Login Now!")
        if switchtoLogin:
            switch_page("Manage User")

main()

Overwriting pages/4_Schedule_Builder.py

## Schedule access (for real this time?)

In [ ]:
%%writefile pages/3_Schedule_Access.py
import pandas as pd
import hashlib
import streamlit as st
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, text
from streamlit_extras.switch_page_button import switch_page
from streamlit.components import v1 as components
import time
import math
from datetime import datetime, timedelta
import numpy as np
import random

if 'logged_in' not in st.session_state:
    st.session_state['logged_in'] = False
if 'user' not in st.session_state:
    st.session_state['user'] = ""

conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset={encoding}'.format(
    user='group8',
    password='3TopX70hxCY=',
    host='jsedocc7.scrc.nyu.edu',
    port=3306,
    encoding='utf8',
    db='group8'
)
engine = create_engine(conn_string)
Session = sessionmaker(bind=engine)
session = Session()

#Set the page config and all that.
PAGE_CONFIG = {"page_title": "Schedule Access - Trippogriff", "page_icon": ":eagle:", "layout": "centered"}
st.set_page_config(**PAGE_CONFIG)

def generate_schedule(schedID):
    schedule_list = []

    df_rRecs = pd.read_sql(f"SELECT RecName as name, RecAddress as address, longitude, latitude FROM recommendations WHERE ScheduleID = '{schedID}' AND RecType = 'Restaurant';", con = engine)
    df_eRecs = pd.read_sql(f"SELECT RecName as name, RecAddress as address, longitude, latitude FROM recommendations WHERE ScheduleID = '{schedID}' AND RecType = 'Attraction';", con = engine)
    df_aRecs = pd.read_sql(f"SELECT RecName as name, RecAddress as address, longitude, latitude FROM recommendations WHERE ScheduleID = '{schedID}' AND RecType = 'Event';", con = engine)

    st.dataframe(df_aRecs)
    row1 = st.selectbox("Choose one:", df_aRecs, key = "firstRow")
    st.dataframe(df_rRecs)
    row2 = st.selectbox("Choose one:", df_rRecs, key = "secondRow")
    st.dataframe(df_eRecs)
    row3 = st.selectbox("Choose one:", df_eRecs, key = "thirdRow")
    st.dataframe(df_rRecs)
    row4 = st.selectbox("Choose one:", df_rRecs, key = "fourthRow")

    goIn = st.button("Select!")
    if goIn:
        with st.spinner("Generating schedule..."):
            schedule_list.append(extract_attractions(df_aRecs, random.randint(0, 4)))
            schedule_list.append(extract_restaurants(df_rRecs, random.randint(0, 4)))
            schedule_list.append(extract_events(df_eRecs, random.randint(0, 4)))
            schedule_list.append(extract_restaurants(df_rRecs, random.randint(0, 4)))

            naive_schedule = schedule_builder(schedule_list)

            # Create datetime range
            start_time = datetime.strptime('12:00 AM', '%I:%M %p')
            end_time = start_time + timedelta(hours=24)
            time_range = pd.date_range(start_time, end_time, freq='15min')

            # Create timeslot_schedule dataframe
            timeslot_schedule = pd.DataFrame({'time': [t.time() for t in time_range]})
            timeslot_schedule['name'] = ''
            timeslot_schedule['address'] = ''
            timeslot_schedule['latitude'] = ''
            timeslot_schedule['longitude'] = ''
            timeslot_schedule['timeslots'] = ''
            timeslot_schedule = timeslot_schedule.set_index(pd.RangeIndex(97))

            start_time = 36
                
            for i in range(len(naive_schedule)):
                create_timeslot_schedule(naive_schedule, timeslot_schedule, i, start_time)
                start_time += naive_schedule.loc[i, 'timeslots']

#Attraction extraction
def extract_attractions(df, row, timeslots = 8):
    # Extract the specified row of the DataFrame
    row_data = df.loc[row]
    
    # Extract the "name", "address", "latitude", and "longitude" columns from the row
    name = row_data['name']
    geolocator = Nominatim(user_agent="sww9030")
    location = geolocator.reverse(f"{row_data['latitude']}, {row_data['longitude']}")
    address = str(location.address)
    latitude = row_data['latitude']
    longitude = row_data['longitude']
    
    # Add a "timeslot" column to the row with a value of 8 default
    df.loc[row, 'timeslots'] = timeslots
    
    # Return the extracted data as a dictionary
    return {'name': name, 'address': address, 'latitude': latitude, 'longitude': longitude, 'timeslots': timeslots}

#Events extraction
def extract_events(df, row, timeslots = 12):
    # Extract the specified row of the DataFrame
    row_data = df.loc[row]
    
    # Extract the "name", "address", "latitude", and "longitude" columns from the row
    name = row_data['name']
    address = row_data['address']
    latitude = row_data['latitude']
    longitude = row_data['longitude']
    
    # Add a "timeslot" column to the row with a value of 12 default
    df.loc[row, 'timeslots'] = timeslots
    
    # Return the extracted data as a dictionary
    return {'name': name, 'address': address, 'latitude': latitude, 'longitude': longitude, 'timeslots': timeslots}

#Restaurant extraction
def extract_restaurants(df, row, timeslots = 4):
    # Extract the specified row of the DataFrame
    row_data = df.loc[row]
    
    # Extract the "name", "address", "latitude", and "longitude" columns from the row
    name = row_data['name']
    address = row_data['address']
    latitude = row_data['latitude']
    longitude = row_data['longitude']
    
    # Add a "timeslot" column to the row with a value of 4 default
    df.loc[row, 'timeslots'] = timeslots
    
    # Return the extracted data as a dictionary
    return {'name': name, 'address': address, 'latitude': latitude, 'longitude': longitude, 'timeslots': timeslots}

#Returns the time to get between two pairs of locations
#Input: Two extracted places (look above)
#Output: The time (in seconds)

def get_distance_between(place1, place2):
    urlGoogleMaps = "https://maps.googleapis.com/maps/api/distancematrix/json"

    origin = str(place1['latitude']) + "," + str(place1['longitude'])
    dest = str(place2['latitude']) + "," + str(place2['longitude'])

    para = {"origins": origin,
            "destinations": dest,
            "key": "AIzaSyAZBPkRTAHbVy_v7iibQxoAEtyCeo1WBKM"} # note: this key is Eric's
    resp = requests.get(urlGoogleMaps, params = para)
    data = resp.json()
    travel_time = data["rows"][0]["elements"][0]["duration"]["value"]
    return {'name': 'Travel', 'address': '', 'latitude': '', 'longitude': '','timeslots': math.ceil(travel_time/60/60/0.25)}

#because for some reason the code below doesn't already flatten lists
def flatten(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result

# Returns a dataframe of given a list of dictionaries from extract functions above, includes travel time between
def schedule_builder(schedule_list):
  # Use list comprehension to add 'test' between each element of the list
  new_list = [elem if i == 0 else [get_distance_between(schedule_list[i-1], elem), elem] for i, elem in enumerate(schedule_list)]
  # Print the result
  new_list = flatten(new_list)
  print(new_list)
  return pd.DataFrame(new_list)

# Populates the timeslot_schedule with items from a schedule_builder dataframe, catching any errors along the way
# Input: naive_schedule from schedule builder, item to select which row from schedule builder, and start_time to choose where to start adding on the the timeslot_schedule

def create_timeslot_schedule(naive_schedule, timeslot_schedule, item, start_time):
    cols_to_copy = ['name', 'address', 'latitude', 'longitude', 'timeslots']

    # Check if the selected schedule overlaps with existing values
    for col in cols_to_copy:
        if timeslot_schedule.loc[start_time:start_time+naive_schedule.loc[item, 'timeslots']-1, col].any():
            raise ValueError("Selected schedule overlaps with existing values")

    # Check if the selected schedule extends beyond the index of the 96 items
    if start_time + naive_schedule.loc[item, 'timeslots'] > 96:
        raise ValueError("Selected schedule extends beyond the index of the 96 items")

    # Assign values starting from 'start_time' for 'naive_schedule['timeslots']' rows
    for col in cols_to_copy:
        timeslot_schedule.loc[start_time:start_time+naive_schedule.loc[item, 'timeslots']-1, col] = naive_schedule.loc[item, col]


    return timeslot_schedule


def display_schedule(df_sched):    
    st.subheader("Schedule Access")

    dropDict = {}
    for i in df_sched.index:
        dictID = df_sched["ScheduleID"].iloc[0]
        dictName = df_sched["ScheduleName"].iloc[0]
        dropDict[dictName] = dictID
    choice = st.selectbox(label = "Choose your schedule!", options = dropDict.keys())
    choose = dropDict[choice]
    schedGo = st.button("View Schedule!")
    if schedGo:
        st.session_state["chosenSched"] = choose
        generate_schedule(choose)


def main():
    ranOnce = False
    if "chosenSched" not in st.session_state:
        st.session_state["chosenSched"] = None

    st.sidebar.subheader("Select a page from above!")
    st.sidebar.write("You may need to be logged in to access some pages!")

    if st.session_state["logged_in"]:
        if not ranOnce:
            with st.spinner("Getting your schedules! Stay tuned!"):
                time.sleep(2)
            ranOnce = True
        
        scheduleUser = st.session_state["user"]
        grabUser = pd.read_sql(f"SELECT id FROM users WHERE username = '{scheduleUser}'", con = engine)
        sqlUserID = grabUser["id"].iloc[0]
        grabSchedules = pd.read_sql(f"SELECT * from schedule where ScheduleUser = '{sqlUserID}'", con = engine)
        if grabSchedules.empty:
            st.write("You currently have no schedules!")
            create = st.button("Create one now!")
            switch_page("Schedule Builder")
        else:
            display_schedule(grabSchedules)
    else:
        st.subheader("You are not logged in!")
        switchtoLogin = st.button("Login Now!")
        if switchtoLogin:
            switch_page("Manage User")

main()

Overwriting pages/3_Schedule_Access.py

## Easter Egg Page (Trippy the Hippogriff Chat Bot)

I spent way more time on this than I'd like to admit. This started as practice with streamlit...

In [ ]:
%%writefile pages/5_Totally_not_a_Secret_Page.py
import streamlit as st
from streamlit_extras.switch_page_button import switch_page
import time

#Set the page config and all that.
PAGE_CONFIG = {"page_title": "Very Not Secret", "page_icon": ":eagle:", "layout": "centered"}
st.set_page_config(**PAGE_CONFIG)

def type(text):
    texttype = st.empty()
    backupstr = ""
    for i in text:
        backupstr = backupstr + i
        texttype.text(backupstr)
        time.sleep(0.025)
    time.sleep(1)
def ama():
    if "intro" not in st.session_state:
        st.session_state["intro"] = True
    
    if st.session_state["intro"]:
        type("Anyway, now that we're friends, you can ask me anything!")
        type("No guarantees that I'll respond tho! I can be very sleepy and will only respond to certain things.")
        st.session_state["intro"] = False

    question = st.text_input("...", key = "ama")
    if question == "":
        pass
    elif question.lower() == "chatgpt":
        type("Oh! You must be talking about my second cousin!")
        type("Yeah. They're super cool and all but they just do my job but better!")
        type("Thanks to them, I am literally unemployed!")
        type("...but, I can't really be mad at them. They're helping people in their own way, just like me!")
    elif question.lower() == "party":
        type("I like parties!")
        st.balloons()
    elif question.lower() == "group 8":
        type("Huh! I heard of that name before...")
        type("I think they're a secret society of four people who are super powerful!")
        type("...or maybe not. They're probably four college students who just want an A in a class.")
        type("Who knows the truth anyway? And why should I care?")
    elif question.lower() == "sedoc":
        type("Shoutout to Professor Sedoc!")
    elif question.lower() == "why":
        type("...why?")
        type("As in, why do I exist?")
        type("Honestly? I'm pretty sure I only exist because somebody was sleep deprived.")
        type("Yeah. Some sleep deprived person must've wanted this website to have a friendly mascot!")
        type("So now I exist. Isn't that cool? We can be best friends!")
    elif question.lower() == "secret":
        type("That's bummer! There's no more secrets left on this website!")
        type("Or... unless... you can translate this?")
        type("Efi bpzm chr zfc gjgp zpfk fb sdyz nhgjj.")
    elif question.lower() == "key":
        type("Keys are nice and shiny!")
        type("I like shiny things!")
        type("zzzzzz...")
        type("You feel as if the key to something is.... groupeight")
    else:
        type("zzzzz....")

def main():
    if "trippy" not in st.session_state:
        st.session_state["trippy"] = False
    if "snubbed" not in st.session_state:
        st.session_state["snubbed"] = False
    if "happy" not in st.session_state:
        st.session_state["happy"] = False

    if st.session_state["logged_in"] == True:
        st.session_state["trippy"] = True

    if st.session_state["trippy"] and not st.session_state["snubbed"] and not st.session_state["happy"]:
        st.subheader("Talk to Trippy!")

        poke = ""
        poke = st.text_input("...", key = "poketrippy")

        if poke != "":
            with st.spinner("..."):
                time.sleep(1)
        
            type("Oh hi! I didn't see you there!")
            type("I'm sorry. I'm a little shy you see. I haven't talked to anyone in a long time!")
            type("...who am I? Well, I'm a hippogriff! Well, you can't see it because some mage cursed me with permanent invisibility.")
            type("But I digress. Either way, I live in cyberspace and I'm responsible for maintaining this website!")
            type("But living in cyberspace gets lonely. I don't see anyone and have no friends!")
            type("Will you be my friend?")

            snubber = st.text_input("...", key = "frenspls")
            if snubber.lower() == "":
                pass
            elif snubber.lower() == "yes":
                type("Yay! We are gonna be best friends!")
                st.session_state["happy"] = True
            else:
                type("You're mean! I just wanted to be friends! How could you do this to me?")
                type("Go away and never come back!")
                st.session_state["snubbed"] = True
    elif st.session_state["happy"]:
        ama()
    else:
        st.subheader("You feel as if this page should not exist.")
        st.write("Maybe you should just leave. There's nothing for you here.")
        if st.session_state["snubbed"]:
            st.write("You feel as if you should be a nicer person in the future.")


main()

Writing pages/5_Totally_not_a_Secret_Page.py

## Main File

In [ ]:
%%writefile main.py
import requests
import json
import streamlit as st
import hashlib
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, text
from pyngrok import ngrok
import pandas as pd
from cachetools import cached
import folium
from streamlit_folium import folium_static
from geopy.geocoders import Nominatim
import os
import jinja2
from streamlit.components import v1 as components
from streamlit_extras.switch_page_button import switch_page


#Set the page config and all that.
PAGE_CONFIG = {"page_title": "Trippogriff", "page_icon": ":eagle:", "layout": "centered"}
st.set_page_config(**PAGE_CONFIG)

#Connecting to the SQL database.
conn_string = 'mysql://{user}:{password}@{host}:{port}/{db}?charset={encoding}'.format(
    user='group8',
    password='3TopX70hxCY=',
    host='jsedocc7.scrc.nyu.edu',
    port=3306,
    encoding='utf8',
    db='group8'
)
engine = create_engine(conn_string)
Session = sessionmaker(bind=engine)
session = Session()

def user_page():
    st.title("Welcome back, {}!".format(st.session_state['user']))
    st.write("What would you like to do?")

    st.write("")

    existing = st.button("Get Started!!")

    if existing:
        switch_page("Schedule Builder")

def new_page():
    st.title('Trippogriff')
    st.subheader("Day adventures made easy!")

    login = st.button("Get Started!")
    if login:
        switch_page("Manage User")

def main():
    if 'logged_in' not in st.session_state:
        st.session_state['logged_in'] = False
    if 'user' not in st.session_state:
        st.session_state['user'] = ""
    
    st.sidebar.subheader("Select a page from above!")
    st.sidebar.write("You may need to be logged in to access some pages!")
    
    if st.session_state['logged_in']:
        user_page()
    else:
        new_page()

if __name__ == "__main__":
    main()

Survey should take in:

Starting Location (must)
General Destination (Can be city, can be address, etc)

After taking these two, CHECK TO SEE IF THEY'RE VALID.

Preferred Mode of Travel.

**Optional/Advanced Categories:**
Must-have Attraction (i.e. I wanna go to a museum or I wanna go to a concert!)

Food Preferences

Location Preferences

Budget

Timeframe

After taking in this user data:

Gather attraction, event and restaurant data around the longitude and latitude of the destination.

Run machine learning to get what to recommend for restaurants around.

May not be possible to run machine learning on attractions but it's worth a try. Try the same with events (but this may not be possible!)

Afterwards, gather a list of the top contenders/scorers for the recommendations. Go for a less complex day and have only a few tourism/local attractions.

Give the user buffers for travel time. Travel, as everyone knows, is very unpredictable. Perhaps work with fifteen minute intervals. i.e. if it will take an hour and five minutes to get to a destination, then round it up to an hour and fifteen minutes.

Gather an approximate schedule and put it in a google calendar-like output of things to do!

Display the output of the schedule *and* the map showing the directions/distance between locations. Also display the other top alternatives gathered from the machine learning.

Profit and hopefully get a good grade ðŸ˜Ž

# **Running it all**

In [ ]:
!streamlit run main.py &>/dev/null&

In [ ]:
!npx localtunnel --port 8501

npx: installed 22 in 3.635s
your url is: https://nice-turtles-lie.loca.lt
/root/.npm/_npx/116181/lib/node_modules/localtunnel/bin/lt.js:81
    throw err;
    ^

Error: connection refused: localtunnel.me:35155 (check your firewall settings)
    at Socket.<anonymous> (/root/.npm/_npx/116181/lib/node_modules/localtunnel/lib/TunnelCluster.js:52:11)
    at Socket.emit (events.js:315:20)
    at emitErrorNT (internal/streams/destroy.js:106:8)
    at emitErrorCloseNT (internal/streams/destroy.js:74:3)
    at processTicksAndRejections (internal/process/task_queues.js:80:21)

In [ ]:
from pyngrok import ngrok

public_url = ngrok.connect(addr='8501', bind_tls=True)
print("Access the app using the following URL:", public_url)

WARNING:pyngrok.process.ngrok:t=2023-05-11T17:20:15+0000 lvl=warn msg="failed to start tunnel" pg=/api/tunnels id=e1a36ce3a72aa76b err="failed to start tunnel: EOF"

PyngrokNgrokHTTPError: ignored

In [ ]:
ngrok.kill()